/*
Template Name: Ubold Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Responsive
*/
@media only screen and (max-width: 6000px) and (min-width: 700px) {
  .wrapper.right-bar-enabled .right-bar {
    right: 0;
    z-index: 99;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .email-msg {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  .enlarged .left.side-menu {
    margin-left: -75px;
  }
  .content-page {
    margin-left: 0px !important;
  }
  .footer {
    left: 0px !important;
  }
  .mobile-sidebar {
    left: 0px;
  }
  .mobile-content {
    left: 250px;
    right: -250px;
  }
  .wrapper-page {
    width: 90%;
  }
  .wizard > .steps > ul > li {
    width: 100%;
  }
  .wizard > .content {
    padding: 0px !important;
  }
  .wizard > .content > .body {
    float: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
  }
  .wizard.vertical > .steps {
    display: inline;
    float: none;
    width: 100%;
  }
  .wizard.vertical > .content {
    display: inline;
    float: none;
    margin: 0%;
    width: 100%;
  }
  .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    left: auto;
    position: absolute;
    right: 0;
  }
  .todo-send {
    margin-top: 10px;
    padding-left: 15px;
  }
  .chat-inputbar {
    padding-left: 15px;
  }
  .chat-send {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .dataTables_wrapper .col-xs-6 {
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .side-menu {
    z-index: 10 !important;
  }
  .button-menu-mobile {
    display: block;
  }
  .search-bar {
    display: none !important;
  }
}
@media (max-width: 420px) {
  .hide-phone {
    display: none !important;
  }
}
/* Container-alt */
@media (min-width: 768px) {
  .container-alt {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-alt {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container-alt {
    width: 1170px;
  }
}
/**12-04-18**/
@media screen and (max-width: 657px){
 .searching-content .pull-right.pl-0 {
    width: 100%;
    margin-top: 16px;
    padding: 0px;
}
.searching-content .panel-heading {
    float: right;
}
.searching-content .btn.btn-default {
    margin: 0px 2px 5px 2px!important;
}
  .searching-content .serching-results {
       width: 100%;
  }
}
/**10-04-18**/
@media screen and (max-width: 480px){
  .card-box .tile-body.mt-20 {
    overflow: scroll;
}
}
@media screen and (max-width: 480px){
.ng-scope .selectize-control.single .selectize-input, .selectize-dropdown.single {
    display: flex;
    padding: 5px;
    align-items: center;
}
label.control-label {
    font-size: 13px;
}
/** 12-04-2018**/
.mr-20 {
    margin-right: 4px !important;
}
}
/** 12-04-2018**/
@media screen and (max-width:470px){
a.btn.btn-primary.waves-effect.waves-light.pull-right {
    width: 140px;
    float: left!important;
    margin-right: 10px;
}
a.btn.btn-default.waves-effect.waves-light.pull-right.mr-20 {
    width: 140px;
    float: left!important;
    margin-right: 0px!important;
    margin-bottom: 15px;
        clear: both;
    display: block;
}
a.btn.btn-pink.waves-effect.waves-light.pull-left {
    text-align: center;
    margin: 0 auto 0px;
    display: table;
    float: none!important;
        clear: both;
}
.card-box .tile-body.mt-20 {
    margin-bottom: 10px;
}
  .pb-50 .pagination-sm>li>a, .pagination-sm>li>span {
      padding: 5px 6px;
      font-size: 11px;
}
}
@media (min-width:376px) and (max-width:475px){
  a.btn.btn-pink.waves-effect.waves-light.pull-left{
    float: left!important;
  }
}
/**10-04-18**/
@media (max-width: 419px) {
  .topbar-left {
    width: 70px !important;
  }
  .logo .icon-c-logo {
    display: inline-block !important;
    line-height: 58px !important;
  }
  .logo span {
    display: none !important;
  }
  .content-page {
    margin-left: 70px;
  }
  .forced .side-menu.left {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1);
  }
  .enlarged .side-menu.left {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
  }
  .conversation-list .conversation-text,.conversation-list .odd .conversation-text {
    width: 100% !important;
  }
}
/** 12-04-2018**/
@media screen and (max-width:360px){
  .mt-30{
    padding: 0px 25px;
  }
  a.btn.btn-default.waves-effect.waves-light.pull-right.mr-20,a.btn.btn-primary.waves-effect.waves-light.pull-right{
    width:auto;
  }
}
@media screen and (max-width:320px){
  .mt-30{
    padding: 0px 3px;
  }
  #accordion .panel-title {
      max-width: 80px;
  }
  .panel-default .pull-right.pl-0 {
      padding-right: 0px;
  }
  .pb-50 .pagination-sm>li>a, .pagination-sm>li>span {
      padding: 5px 5px;
      font-size: 9px;
  }
  .btn-rounded{
      padding: 6px 6px;
}
}
