@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 991px) {
.table-box-1 {
    margin-bottom: 20px;
}
.columns {
    float: left;
    width: 18.5%;
    padding: 8px;
}
.columns.price-col {
    width: 26%;
}
.columns {
    padding: 1px;
}
.tab-content.tab-txt-content {
    margin-left: 0;
    margin-right: 0;
}
.price-head h5 {
    font-size: 29px;
}
#bill-sec .price-head p {
    font-size: 17px
}
#bill-sec span.pric {
    font-size: 19px;
    top: -4px;
    left: 3px;
}
.price-head h5 sup {
    font-size: 19px;
    margin-right: 4px;
}
#bill-sec .price li {
    padding: 12px 5px;
    font-size: 12px;
    font-weight: normal;
}
#bill-sec .columns {
    padding: 3px;
}
#bill-sec .columns.plans-col ul.price, #bill-sec .tab-content.tab-txt-content .price {
    min-height: 613px;
}
}
@media screen and (max-width: 767px) {
.tab-txt-content {
    overflow-y: auto;
}
.tab-pane {
    min-width: 700px;
}
}

@media only screen and (max-width: 480px) {

}
@media only screen and (max-width: 360px) {
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 4px;
}
.nav-tabs.nav-tab-txt {
    max-width: 285px;
}
#bill-sec .btn-comn {
width: 95px !important;
padding: 9px 3px !important;
}
}
@media screen and (max-width : 830px){ #tabList .nav.nav-tabs > li > a, #tabList .nav.tabs-vertical > li > a { padding-left: 11px; padding-right: 11px; } }
