/* --------Globel--------- */
* {
	margin: 0 auto;
	padding: 0px;
}
body {
	margin: 0 auto;
	overflow-x: hidden;
}
/* --------Globel--------- */

/* --------Globel---E------ */
.billing-sec {
    background-color: #edf2f6;
    padding: 0 0 100px 0;
}
.table-box-1 h4 {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 27px;
    color: #fff;
    font-weight: bold;
    margin-top: 11px;
	padding-left: 15px;
}
.table-box-1 h3 {
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 13px;
    margin-right: 6px;
	padding-left: 15px;
}
.table-box-1 p {
    font-size: 23px;
    line-height: 22px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    display: inline-block;
}
.table-box-1{}
.table-comon {
    background-color: #fff;
    box-shadow: 0px 2px 6px 0px #ccc;
}
.table-comon a:hover{
	text-decoration:none !important;
}
.table-comon .table{
	margin-bottom:0;
}
.table-responsive-width {
    overflow-y: auto;
}
.table-comon .table {
    margin-bottom: 0;
    min-width: 400px;
}
table.table.table-second thead {
    background-color: #36404a;
}
tr.border-last td {
    height: 54px;
}
.table-comon .table tr th, .table-comon .table tr td{
}
.table-comon .table tr th {
    color: #fff;
    text-transform: uppercase;
}
.table-box-1 {
    padding: 15px 0px 7px 0px;
    background-color: #47acf5;
    position: relative;
}
.right-corner {
    width: 0;
    position: absolute;
    height: 0;
    border-top: 56px solid transparent;
    border-left: 53px solid #0071bd;
    border-bottom: 51px solid transparent;
    right: -6px;
    top: -36px;
    -ms-transform: rotate(-47deg);
    -webkit-transform: rotate(-47deg);
    transform: rotate(-47deg);
    color: #fff;
}
.calnder {
    position: absolute;
    right: 10px;
    top: 11px;
    color: #fff;
    font-size: 22px;
}
.table-first {
    border: 1px solid #dee2e6;
    background-color: #fff;
}
.table.table-first td, .table.table-first th {
    padding: 9px .75rem;
}
.table.table-second td, .table.table-second th {
    padding: 8px .75rem;
}
a.viw-more {
    background-color: #0465a9;
    color: #fff;
    padding: 6px 14px;
    display: inline-block;
    font-size: 14px;
    max-width: 100px;
    text-align: center;
}
.left-col, .right-col {
    float: left;
    width: 50%;
}
.left-col {
    font-weight: bold;
    padding-top: 12px;
}
.paginaton {
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    padding: 5px 15px 10px 8px;
}
.tab-tsble-sec h2 {
    font-size: 30px;
    line-height: 37px;
    color: #36404a;
    text-align: center;
    margin-top: 4px;
    font-weight: bold;
    margin-bottom: 12px;
}
span.txt-page {
    height: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 2px 0;
}
#bill-sec .alert-msg {
    background-color: #47acf5;
    color: #fff;
    border-left: 3px solid #025ea0;
    margin-bottom: 0;
	    position: relative;
}
#bill-sec .alert-msg .close {
    position: absolute;
    top: 5px;
    opacity: 1;
    font-weight: normal;
    padding: .75rem 9px;
    color: inherit;
    right: 0;
}
#bill-sec .alert-sec {
    margin: 20px 0 25px 0;
}
/* price-sec */
#bill-sec .columns {
    float: left;
    width: 19%;
    padding: 8px;
}
#bill-sec .columns.plans-col {
    width: 24%;
}

#bill-sec .price {
    list-style-type: none;
    border: 1px solid #e4e3e3;
    margin: 0;
    padding: 0;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-ms-transition: 0.3s;
	transition: 0.3s;
	background-color: #fff;
}
#bill-sec .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
#bill-sec .columns.price-col .price:hover{
	box-shadow: none !important;
}
#bill-sec .price .header {
    color: #7f7f7f;
    font-size: 25px;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    min-height: 171px;
    background-color: red;
}
#bill-sec .price li {
    border-bottom:0;
    padding: 13px 5px;
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
#bill-sec .nav-tabs.nav-tabs>li>a {
    margin-right: 0;
    background-color: #36404a;
    color: #fff !important;
    border-left: 0;
    border-right: 0;
    text-transform: uppercase;
    border-bottom: 0;
    padding: 0px 6px;
    border-radius: 0;
    width: 178px;
    font-size: 18px;
    cursor: pointer;
    border-top: 3px solid #02263e;
    text-align: center;
}
#bill-sec .plans-col .price {
    background-color: #cfedfd;
}
.inr-col li:nth-child(3), .inr-col li:nth-child(5), .inr-col li:nth-child(7), .inr-col li:nth-child(9), .inr-col li:nth-child(11) {
    background-color: #f1f3f4;
}
#bill-sec .nav-tabs.nav-tabs>li>a:hover{
	/*border: 1px solid #79c3f9;*/
}
#bill-sec .nav-tabs.nav-tab-txt>li.month-list>a, #bill-sec .nav-tabs.nav-tab-txt>li.month-list>a:hover, #bill-sec .nav-tabs.nav-tab-txt>li.month-list.active>a, #bill-sec .nav-tabs.nav-tab-txt>li.month-list.active>a:focus, #bill-sec .nav-tabs.nav-tab-txt>li.month-list.active>a:hover {

}
#bill-sec .nav-tabs.nav-tab-txt>li.year-list>a, #bill-sec .nav-tabs.nav-tab-txt>li.year-list>a:hover, #bill-sec .nav-tabs.nav-tab-txt>li.year-list.active>a, #bill-sec .nav-tabs.nav-tab-txt>li.year-list.active>a:focus, #bill-sec .nav-tabs.nav-tab-txt>li.year-list.active>a:hover {

}
#bill-sec .nav-tabs.nav-tab-txt {
    border-bottom: transparent;
    max-width: 358px;
    background-color: transparent;
    border-radius: 30px;
    width: 100%;
    margin-left: auto;
    box-shadow: none;
    margin-bottom: 18px;
    margin-right: auto;
    height: auto !important;
}
#bill-sec .nav-tabs.nav-tab-txt>li.active>a, #bill-sec .nav-tabs.nav-tab-txt>li.active>a:focus, #bill-sec .nav-tabs.nav-tab-txt>li.active>a:hover {
    cursor: default;
	border-radius: 0;
	    color: #0694ed !important;
    background-color: #fff;
}
#tabList #bill-sec .nav-tab-txt li.active, #subTabList li.active {
    border-bottom: 0;
}
#bill-sec .nav-tabs.nav-tab-txt>li {
    border-right: 0;
    margin-bottom: 0;
}
#bill-sec .nav-tabs.nav-tab-txt > li.active > a {
    border-bottom: 0;
    color: #0694ed !important;
    background-color: #fff;border-top: 3px solid #0694ed !important;
}
#bill-sec .price .grey {
    background-color: #fff;
    font-size: 20px;
}
#bill-sec .columns i.fa.fa-check-circle{
	color: #39b54a;
}
#bill-sec .tab-txt-content .button {
    background-color: #47acf5;
    border: none;
    color: white;
    padding: 8px 9px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 21px;
    width: 100%;
    display: none;
    max-width: 128px;
}
#bill-sec .price-head p {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: normal;
    line-height: 25px;color: #fff;
	    padding: 0 5px;
}
#bill-sec .tab-content.tab-txt-content .price{
padding-bottom:0;
padding-top:0;
}
#bill-sec span.pric {
    font-size: 24px;
    color: #fff;
    position: relative;
    top: -9px;
    left: 3px;
}
#bill-sec li.header.price-head h4 {
    color: #fff;
    background-color: #014a73;
    padding: 13px 8px;
    text-transform: uppercase;
}
#bill-sec .price-head h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 30px;
}
.price-head h5 {
    margin-top: 13px;
    line-height: 37px;
    font-size: 44px;
    margin-bottom: 2px;
    color: #fff;
	    padding: 0 5px;
}
.free-col .price-head h5 {
    margin-top: 40px;
}
.plans-col .price-head p {
    margin-top: 42px;
}
.price-head h5 sup {
    font-size: 24px;
    margin-right: 4px;
}
.columns.price-col .grey {
    min-height: 100px;
}
#bill-sec .cb-active .price-head:hover h4, #bill-sec .columns.cb-active .price li, #bill-sec .columns.cb-active i.fa.fa-check-circle, #bill-sec .columns.cb-active .price-head:hover h5, #bill-sec .columns.cb-active .price-head:hover span.pric, #bill-sec .columns.cb-active .price-head:hover p{

}
#bill-sec .columns.cb-active .price .header, #bill-sec .columns.cb-active .price li
{

}
#bill-sec .cb-active .price .header {
    border-bottom: 0;
    border-top: 0;
}
#bill-sec .columns.cb-active li.header.price-head h4, #bill-sec .columns.cb-active h5, #bill-sec .columns.cb-active .pric, #bill-sec .columns.cb-active p{
	color:#fff;
}
#bill-sec .plans-col .price-head, #bill-sec .basics-col .price-head, #bill-sec .Elite-col .price-head {
    background-color: #0269a3;
}
#bill-sec .free-col .price-head, #bill-sec .Pro-col .price-head{
    background-color: #3aa7eb; 
}
#bill-sec .free-col li.header.price-head h4, #bill-sec .Pro-col li.header.price-head h4{
    background-color: #0794ee; 
}
/* price-sec */
#bill-sec .tab-content>.active {
    display: inline-block;
    width: 100%;
}
#bill-sec .btn-cols {
    margin-top: 9px;
}
/* -checkBox */
/* The container */
#bill-sec .rdo-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 21px;
}
#bill-sec .columns.plans-col ul.price, #bill-sec .tab-content.tab-txt-content .price  {
    min-height: 647px;
}
/* Hide the browser's default radio button */
#bill-sec .rdo-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
#bill-sec .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #afd7f5;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

/* On mouse-over, add a grey background color */
#bill-sec .rdo-check:hover input ~ .checkmark {
    background-color: #71baf1;
}

/* When the radio button is checked, add a blue background */
#bill-sec .rdo-check input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#bill-sec .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
#bill-sec .rdo-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
#bill-sec .rdo-check .checkmark:after {
	left: 9px;
    top: 4px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* -checkBox */
#bill-sec .tab-content.tab-txt-content {
    margin-left: -8px;
    margin-right: -8px;
}
#bill-sec .btn-comn {
    background-color: #47acf5;
    border: 0;
    color: #fff;
    border-radius: 0;
    width: 116px;
    font-size: 15px;
    padding: 9px 5px;
}
#bill-sec .btn-comn:hover, .btn-comn:focus{
}
#bill-sec .blue-btn:hover, .blue-btn:focus{
	background-color: #1d87d4;
	color:#fff
}
.btn-card-payment {
    background-color: #045690 !important;
}
.btn-card-payment:hover, .btn-card-payment:focus {
    background-color: #03406c !important;
}

/*pricing CSS*/
.inner-items-pricing{ display: flex;    /*flex-direction: row; flex-wrap: nowrap;*/ }
.inner-items-pricing .columns{ flex:1; }
.inner-items-pricing .columns.plans-col{ min-width:24%; }

tr.border-last:hover {
    background-color: transparent !important;
}
::i-block-chrome, tr.border-last td {
    height: 41px;
}


/*Neil Styles 6-sept-2018*/
#model-set-n .modal-dialog {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}
#model-set-n #popup-setting-n input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom:5px;
}
#model-set-n .modal-header{
border-bottom:0px !important;
}
#model-set-n h4#popup-heading {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
#model-set-n #popup-setting-n #apply_promo_code, #popup-setting-n #submitPP {
    width: 100%;
    margin-top: 15px;
    border-radius: 0px;
    padding: 10px;
    background-color:#22beef;
    color:#fff;
    font-size:16px;
}
#model-set-n .modal-header .close {
    margin-top: -31px;
    right: -10px;
    position: absolute;
    background-color: #22beef;
    opacity: 1;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 18px;
    color: #fff;
    text-shadow: none;
}
#model-set-n .modal-header .close:hover {background-color:#333;}
#popup-setting-n #apply_promo_code:hover, #popup-setting-n #submitPP:hover {
	background-color:#333;
}
#model-set-n small#coupon_code_error, #model-set-n small#coupon_code_success {
    text-align: center;
    display: block;
    margin-top: 10px;
}
.alert>p, .alert>ul {
    margin-bottom: 0;
    margin-left: 20px;
}


/*Neil Styles 6-sept-2018*/

@media screen and (max-width: 1199px) {

.paginaton a.viw-more{ font-size:13px; padding:6px 9px; }

}
@media screen and (max-width: 991px) {
.table-box-1 {
    margin-bottom: 20px;
}
.columns {
    float: left;
    width: 18.5%;
    padding: 8px;
}
.columns.price-col {
    width: 26%;
}
.columns {
    padding: 1px;
}
.tab-content.tab-txt-content {
    margin-left: 0;
    margin-right: 0;
}
}
@media screen and (max-width: 767px) {
.tab-txt-content {
    overflow-y: auto;
}
.tab-pane {
    min-width: 700px;
}
}
@media only screen and (max-width: 510px) {
a.btn.btn-default.waves-effect.waves-light.pull-right.mr-20 {
    margin-right: 4px !important;
}
}
@media only screen and (max-width: 480px) {

#bill-sec .nav-tabs.nav-tab-txt{ max-width:262px; }
#bill-sec .nav-tabs.nav-tabs>li>a{ width:130px; }
a.btn.btn-primary.waves-effect.waves-light.pull-right, a.btn.btn-pink.waves-effect.waves-light.pull-left, a.btn.btn-default.waves-effect.waves-light.pull-right.mr-20 {
    float: left !important;
    display: block;
    clear: both;
    margin-bottom: 10px !important;
}
}

/*Neil Responsive styles 6-sept-2018*/
@media screen and (max-width: 420px) {
#model-set-n .modal-dialog {
    width: 300px;
    margin-left:auto;
    margin-right:auto;
}
}
/*Neil Responsive styles 6-sept-2018*/

@media only screen and (max-width: 370px) {
.tile-body a.btn.btn-default.waves-effect.waves-light.pull-right.mr-20, .tile-body a.btn.btn-pink.waves-effect.waves-light.pull-left, .tile-body a.btn.btn-primary.waves-effect.waves-light.pull-right { width:100% !important; }
}
@media only screen and (max-width: 360px) {
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 4px;
}
.nav-tabs.nav-tab-txt {
    max-width: 285px;
}
}
