.proxy-table{
    padding-top: 15px;
}

.ajax-hidden{
    display: none;
}

.ajax-success-wait {
    font-size: 20px;
    line-height: 33px;
    color: #5CB85C;
}

.googleTrend {
    position: relative;
    /*padding-bottom: 56.25%;*/
    padding-bottom: 330px;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.googleTrend iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.dataTables_info {
    float: left!important;
}

#home-box > h2 { font-weight: 400; line-height: 1.1; color: #45b1ae; }
.price {
    font-size: 25px; float: left;
}
.pricing_header {
    background: none repeat scroll 0% 0% #2d3139;
    border-radius: 5px 5px 0px 0px;
    transition: background 0.4s ease-out 0s;
}

.pricing_header h2 {
    text-align:center;
    line-height: 25px;
    padding: 15px 0px;
    margin: 0px;
    font-weight: 400;
}
.text-aqua {
    color: #2da8b7;
}
.text-green {
    color: #5abb30;
}
.text-orange {
    color: #ff911b;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.off {
    text-decoration: line-through;
    color: rgb(86,86,86);
}
.space {
    height: 2px;
    background-color: #75b1ae;
}

/*========= Upgraderadio Old Version =========*/
/*.upgraderadio {
    display: block;
    margin: 0 auto;
    width: 170px;
}
.upgraderadio div {
  clear: both;
  overflow: hidden;
}

.upgraderadio label {
  width: 170px;
  padding-left: 27px;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: 600;
}

.upgraderadio input[type="radio"]:empty,
.upgraderadio input[type="checkbox"]:empty {
  display: none;
}

.upgraderadio input[type="radio"]:empty ~ label,
.upgraderadio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.upgraderadio input[type="radio"]:empty ~ label:before,
.upgraderadio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.upgraderadio input[type="radio"]:hover:not(:checked) ~ label,
.upgraderadio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.upgraderadio input[type="radio"]:hover:not(:checked) ~ label:before,
.upgraderadio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.upgraderadio input[type="radio"]:checked ~ label,
.upgraderadio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.upgraderadio input[type="radio"]:checked ~ label:before,
.upgraderadio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.upgraderadio input[type="radio"]:focus ~ label:before,
.upgraderadio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.upgraderadio-success input[type="radio"]:checked ~ label:before,
.upgraderadio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
.upgraderadio-success.green input[type="radio"]:checked ~ label:before,
.upgraderadio-success.green input[type="checkbox"]:checked ~ label:before {
  background-color: #81c868;
}
.upgraderadio-success.blue input[type="radio"]:checked ~ label:before,
.upgraderadio-success.blue input[type="checkbox"]:checked ~ label:before {
  background-color: #5d9cec;
}
.upgraderadio-success.purple input[type="radio"]:checked ~ label:before,
.upgraderadio-success.purple input[type="checkbox"]:checked ~ label:before {
  background-color: #7266ba;
}*/

/*========= Upgraderadio New Style Version =========*/
.upgraderadio {
    display: block;
    margin: 0 auto;
    width: 100px;
}
.upgraderadio div {
  clear: both;
  overflow: hidden;
}

.upgraderadio label {
  height: 30px;
  padding-left: 41px;
  font-weight: 600;
}

.upgraderadio input[type="radio"]:empty,
.upgraderadio input[type="checkbox"]:empty {
  display: none;
}

.upgraderadio input[type="radio"]:empty ~ label,
.upgraderadio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 1em;
  text-indent: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.upgraderadio input[type="radio"]:empty ~ label:before,
.upgraderadio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0;
    left: 0;
    content: '';
    width: 30px;
    background: #D1D3D4;
    border-radius: 15px;
    padding-top: 7px;
}

.upgraderadio input[type="radio"]:hover:not(:checked) ~ label,
.upgraderadio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.upgraderadio input[type="radio"]:hover:not(:checked) ~ label:before,
.upgraderadio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.upgraderadio input[type="radio"]:checked ~ label,
.upgraderadio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.upgraderadio input[type="radio"]:checked ~ label:before,
.upgraderadio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: 2px;
  color: #333;
  background-color: #ccc;
}

.upgraderadio input[type="radio"]:focus ~ label:before,
.upgraderadio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.upgraderadio-success input[type="radio"]:checked ~ label:before,
.upgraderadio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
.upgraderadio-success.green input[type="radio"]:checked ~ label:before,
.upgraderadio-success.green input[type="checkbox"]:checked ~ label:before {
  background-color: #81c868;
}
.upgraderadio-success.blue input[type="radio"]:checked ~ label:before,
.upgraderadio-success.blue input[type="checkbox"]:checked ~ label:before {
  background-color: #5d9cec;
}
.upgraderadio-success.purple input[type="radio"]:checked ~ label:before,
.upgraderadio-success.purple input[type="checkbox"]:checked ~ label:before {
  background-color: #7266ba;
}


.package-plan .package-name {
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    background-color: #2d3139;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center
}

.package-plan .package-price {
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    background-color: #343841;
    position: relative;
    color: #fff;
    text-align: center;
}

.package-plan .package-price:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #343841 transparent transparent transparent;
    display: inline-block;
    position: absolute;
    margin-left: -6px;
    left: 50%;
    top: 100%;
}

.package-plan .feature {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    min-height: 550px !important;
}

.package-plan .feature ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package-plan .feature ul li {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    background-color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
}

.package-plan .feature ul li:nth-child(even) {
    background-color: #f5f5f5;
}

.package-plan .action-btn {
    background-color: #81af31;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    cursor: pointer;
    text-align: center;
    margin-bottom:1px;
    padding:1px 0px;
}

.package-plan {
    margin-bottom: 30px;
}

.package-plan,
    .three-columns .thumbnail,
    .two-columns .media {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .package-plan .feature {
        min-height: 0;
    }

.package-plan {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }

    .package-plan .feature {
        min-height: 0;
    }

.package-plan .feature ul li,
.source-sans-semi {
    font-family: 'SourceSansPro-Semibold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.button, .package-price, .action-btn,
.navbar-nav.navbar-login > li > a strong,
.navbar-nav.navbar-login > li > a span,
.source-sans-bold {
    font-family: 'SourceSansPro-Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

#sidebar.scheme-light #navigation > li.active > a {
    background-color: #0071bc !important;
    color: white;
}

.nav-tabs.tabs-dark {
    background-color: #ebeff2 !important;
}

/*.nav-tabs.tabs-dark > li > a {
    color: #fff !important;
}*/

.pageheader .page-bar .page-breadcrumb > li:first-child {
    background-color: #0071bc !important;
    margin-right: 8px;
}

.pageheader .page-bar .page-breadcrumb > li:first-child > a {
    color: #fff !important;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.bg-slategray {
    background-color: #0071bc !important;
    color: white !important;
}

footer {
    background: #2d3139 !important;
    padding: 30px 0 20px !important;
    color: #6f747e !important;
    font-size: 14px !important;
    font-family: 'SourceSansPro-Regular', sans-serif !important;
    height: auto !important;
}

footer a {
    color: #6f747e;
    text-decoration: none!important;
}
footer .logo-wrap:before {
    content: '';
    display: block;
    top: 49%;
    border-top: 1px solid #3b4049;
    position: absolute;
    width: 100%;
    z-index: 0;
}

footer .logo-wrap img {
    position: relative;
    z-index: 9;
}

footer .logo-wrap {
    position: relative;
    margin-bottom: -15px;
}

footer a:hover {
    color: #e5e5e5;
}

#sidebarNav .panel-body {
      padding: 1px 15px 15px 15px;
  }
  /* datatable changes */
/*
table.dataTable tbody td {
    padding: 0px 15px ! important;
}
table.dataTable thead td {
    padding: 8px 22px ! important;
}

.keywordcolumn{
       width: 276px !important;
}
  table.dataTable >tbody  td:not(:first-child) {
    text-align: center;
    background: ##f9f9f9;
}

table.dataTable > tbody tr.odd td {
    background: #f9f9f9;
}*/
#rankingTable th{
  font-size: 13px;
  padding: 8px 4px;
}
#rankingTable th:nth-child(n+2){
  min-width: 90px;
}
#rankingTable th:nth-child(n+10){
  min-width: 55px;
}

#rankingTable td{
  font-size: 13px;
}
[data-multiple="90"]{
  min-width: 90px;
}
[data-multiple="100"]{
  min-width: 100px;
}
[data-multiple="105"]{
  min-width: 105px;
}
[data-multiple="110"]{
  min-width: 110px;
}
[data-multiple="120"]{
  min-width: 120px;
}
[data-multiple="130"]{
  min-width: 130px;
}
.table-option{
  color: #337ab7;
  cursor: pointer;
  font-size: 17px;
  margin-left: 10px;
  display: inline-block;
}
.table-option:hover{
  color:#286090;
}
.no-animate {
   -webkit-transition: none !important;
   transition: none !important;
}
.selectize-control.plugin-remove_button [data-value]{
  font-size: 0.92em !important
}
.searching .searching-tabs{
  background:#fff;
  min-height:50px;
  overflow: auto;
}
.searching .searching-tabs::after{
  content: '';
  display: block;
  width: 100%;
}
.searching .searching-content{
  margin-top: 20px;
}
.searching .toggle-tabs{
  float:left;
  padding: 0 20px;
  cursor: pointer;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #505461;
  font-family: 'Source Sans Pro';
  border-bottom:2px solid transparent;
}
.searching .toggle-tabs.active{
  color: #22beef;
  border-bottom:2px solid #22beef;
}
.searching .item-options .badge{
  margin-left: 8px;
  color: #333;
  background: rgba(228,228,228,0.6);
}
.searching .item-options .remove{
  top:3px;
  padding:5px;
  cursor: pointer;
  margin-left: 3px;
}
.searching .item-options .remove:hover{
  color: red !important;
}
.importkeyword-modal .modal-header {
		padding: 9px 15px
	}
	.importkeyword-modal .modal-content {
		border-radius: 6px;
	}
	.importkeyword-modal h3 {
		 margin: 0px;
    	font-size: 18px;
    	line-height: 27px;
    	font-weight: 700;
    	color: #000;
	}
	.importkeyword-modal .modal-body textarea {
		width: 100%
	}
	.importkeyword-modal .modal-footer {
    	background-color: #f5f5f5;
    	padding: 14px 15px 15px;
    	border-radius: 0 0 6px 6px;

    }
    .importkeyword-modal .modal-body select {
    	height: 28px;
    }
   .appWrapper.header-fixed.aside-fixed #content {
   	z-index: inherit !important;
   }

.dark {
    color: #fff;
    background: #343841;
}

.blue-bar {
    background: #0269a3;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}


.button {
    color: #fff;
    font-size: 22px;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-rounded {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.button-info,
.button-info:hover {
    color: #fff;
    background: #e38d06;
}

.button-default,
.button-default:hover {
    color: #0269a3;
    background: #fff;
}

.button.button-squared {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}
.button.button-squared:hover {
    color: #fff;
}
.confirm-button {
    width: 100px;
}
.confirm-modal .modal-footer {
    background: none;
}

#hero h1 {
    margin-top: 50px;
}

#hero .container .button-info {
    margin-top: 32px;
    margin-bottom: 40px;
}

#hero .blue-bar {
    background: #0269a3;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

#hero .blue-bar h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#hero .button-squared {
    border: 2px solid #fff;
    margin-left: 40px;
}

.dom-horizontal-class{
    display: flex;

}

.dom-left-margin{
    margin-left: 5px;
}

.column-width{
    width: 12%;
}

.report-header{
    border-bottom:2px solid #eeeeee ;
    margin: 25px 15px;
    font-size: 18px;
}

.report-count{
    width:100%;
    height: 100% ;
    border:1px solid #eeeeee;
    margin: 10px 0 ;
}

.domain-margin{
    margin-left: 3px;
    margin-right: 3px;
}
.domain{
    vertical-align: middle!important;
}
/*loader effect while click on domain availablity*/
#fade {
    display: none;
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height:100%;
    background-color: #000;
    z-index: 1000;
    -moz-opacity: 0.1;
    opacity: .1;
    margin:auto;
    filter: alpha(opacity=10);
}

#modal {
    display: none;
    position: absolute;
    top: 45%;
    width:35%;
    margin:0px auto;
    margin-left:27%;
    height: auto;
    border-radius:20px;
    z-index: 1002;
    text-align:center;
}
.loader-panel
{
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 3px 3px 3px #888888;
    padding:5px 2px;
}
.loader-panel-text
{
    color:#000;
    margin-left:16px;
    font-weight:bold;

}
.tooltip-inner {
    max-width: 1050px!important;
}
/*End loader Effect*/

.modal-content,
.bootbox.modal .modal-dialog .modal-content,
.parent-expand,
.child-data.expand {
  background: #ebeff2;
}
.parent-expand {
  font-size: 16px;
}
.selectItem > span {
    color: #000;
}
.selectize-dropdown.single {
    border-color: #E3E3E3;
    box-shadow: none;
}
.selectize-control.single .selectize-input {
    border-color: #E3E3E3;
    background-color: #fff;
    box-shadow: none;
    background-image: none;
    height: 38px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.selectize-dropdown-content .label {
    font-weight: 400;
    letter-spacing: 0;
}
.child-data .child-data-td {
    padding: 0 !important;
}
.child-data.expand .child-data-td {
    padding: 0 15px 8px !important;
}
table.dataTable thead th,
table.dataTable thead td {
    padding-left: 10px;
}
table.table tbody tr:hover{
    background: #ebeff2;
}
table.table tbody tr thead tr:hover{
    background: none;
}
table.table table tbody tr td {
    border-top: none;
}
.collapse-sidebar {
    padding-top: 19px !important;
}
iframe body {
    overflow: hidden;
}
ul.controls {
    list-style: none;
    margin: 0;
    padding: 0;
}
.actions ul.dropdown-menu.pull-right {
    right: -11px;
    top: 26px;
}
#savedDetailInfo .progress-bar {
    overflow: hidden;
}
.f-s-17 {
    font-size: 17px;
}
.selectable tr{
    cursor: pointer;
}
.unselectable tr {
    cursor: initial;
}
.kw-available {
    display: none;
}
.sub-table {
    overflow: hidden;
    max-height: 0;
}
.sub-table.sub-table-open {
    -webkit-transition: max-height 1.5s;
    -moz-transition: max-height 1.5s;
    transition: max-height 1.5s;
    max-height: 1000px;
}

/*================================*/
/*=== Switcher ===================*/
.plan-switcher {
    margin: 0 auto;
    width: 300px;
    border: 1px solid #4fcc54;
    padding: 3px;
    border-radius: 40px;
}
.button-switcher {
    height: 60px;
    width: 144px;
    display: block;
    color: #4fcc54;
    padding: 10px 20px;
}
.button-switcher.active {
    color: #fff;
    text-decoration: none;
    border: 1px solid #4fcc54;
    background: #00ab91;
    background: -moz-linear-gradient(top, #00ab91 0%, #58d04e 100%);
    background: -webkit-linear-gradient(top, #00ab91 0%,#58d04e 100%);
    background: linear-gradient(to bottom, #00ab91 0%,#58d04e 100%);
}
.button-switcher .switcher-price-type {
    line-height: 10px;
    margin-top: 7px;
}
#annual {
    padding: 4px 10px;
    font-size: 20px;
}
/*============================*/
.price-wrapper .upgraderadio,
.pricing-header .price-wrapper {
    display: none;
}
.price-wrapper .upgraderadio.active,
.pricing-header .price-wrapper.active {
    display: block;
}

/*================================*/
/*=== Plans Table ================*/
.plan-table {
    margin: 30px auto;
    color: #000;
    /*width: 586px;*//* with Agency plan*/
    width: 500px;
}
.pt-item {
    float: left;
    width: 88px;
    margin-top: 30px;
}
.pt-item-first .pti-cell {
    border-left: none;
}
.pt-item-first .pti-cell:first-child {
    border-top-left-radius: 10px;
}
.pt-item-first .pti-cell:last-child {
    border-bottom-left-radius: 10px;
}
.pt-item-last .pti-cell:first-child {
    border-top-right-radius: 10px;
}
.pt-item-last .pti-cell:last-child {
    border-bottom-right-radius: 10px;
}
.pt-item-label {
    width: 124px;
}
.pt-item-label .pti-cell {
    text-align: left;
    font-size: 14px;
    padding: 1px 0 0 10px;

}
.pt-item-main {
    width: 110px;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
}
.pt-item-main .pti-cell {
    background-color: #fff;
    border-left: none;
}
.pt-item-main .pti-cell-header {
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #00ab91;
    background: -moz-linear-gradient(top,  #00ab91 0%, #58d04e 100%);
    background: -webkit-linear-gradient(top,  #00ab91 0%,#58d04e 100%);
    background: linear-gradient(to bottom,  #00ab91 0%,#58d04e 100%);
}
.pt-item-main .pti-cell-btn {
    height: 94px;
    padding-top: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pt-item-main + .pt-item .pti-cell {
    border-left: none;
}

.pti-cell {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #f7f7f7;
    border-left: 1px solid #d8e8f2;
    border-top: 1px solid #d8e8f2;
    opacity: 0.96;
}
.pti-cell-header {
    background-color: #3fa9f5;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-align: center;
    padding-top: 13px;
    border: none;
}
.pt-item-main .pti-cell-header {
    font-size: 28px;
    padding-top: 18px;
}
.pti-cell-price {
    height: 120px;
    padding: 16px 0;
    text-align: center;
    font-size: 14px;
}
.pti-cell-price .badge{
  background: #3fa9f5 !important;
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  text-transform: capitalize;
}
.price-wrapper .pti-cell-price {
    display: none;
}
.price-wrapper .pti-cell-price.active {
    display: block;
}
.pt-item-label .pti-cell-price {
    padding: 30px 10px;
}
.pti-cell-btn {
    height: 80px;
    border-top: none;
}
.pti-cell-price .price-line {
    display: inline-block;
}
.pti-cell-price .price-value {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #0269a3;
}
.pti-cell-price .price-period {
    float: left;
    padding: 6px 0 0 1px;
}
.pt-item-main .pti-cell-price .price-period {
    float: left;
    padding-top: 8px;
}
.pti-cell-price .price-period .period-full{
    display: none;
}
.pti-cell-price .price-type {
    clear: both;
    font-size: 13px;
}
.pti-cell-price .price-free {
    font-size: 20px;
    font-weight: bold;
    color: #0269a3;
    padding-top: 12px;
}
.pt-item-main .pti-cell-price .price-value {
    color: #58d04e;
    font-size: 20px;
}

.plan-table .pt-item .pti-cell .fa-check-circle {
    color: #39b54a;
}
.plan-table .pt-item.pt-item-main .pti-cell .fa-check-circle {
    color: #58d04e;
}
.plan-table .pt-item .pti-cell .fa-times-circle {
    color: #a9a9a9;
}

.plan-table .pt-item .pti-cell .button {
    color: #fff;
    font-family: 'SourceSansPro-Regular', sans-serif;
    background-color: #3fa9f5;
    font-size: 14px;
    height: 33px;
    width: 78px;
    padding: 0;
}
.plan-table .pt-item.pt-item-main .pti-cell .button {
    background-color: #58d04e;
    font-size: 16px;
    font-weight: bold;
    padding-top: 0px;
    height: 36px;
    width: 96px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
}
#table-submit-wrapper {
    /*width: 570px;*//* with Agency plan*/
    width: 500px;
    margin: 20px auto 0;
}
.plan-table .pt-item.pt-item-main .upgraderadio label {
    padding-left: 30px;
}
/*==============26=7=18================*/
.plan-table {
    display: table;
}
.plan-table.col-5 .pt-item {
    width: 20%;
}
.plan-table.col-4 .pt-item {
    width: 25% !important;
}

.plan-table.col-3 .pt-item {
    width: 33.33%;
}
.plan-table.col-2 .pt-item {
    width: 50%;
}
.plan-table.col-1 .pt-item {
   width: 50%;
}
/*================================*/
/*================================*/
@media (min-width: 1600px) {
    .plan-table {
        margin: 30px auto;
        color: #000;
        /*width: 820px;*/ /* with Agency plan*/
        width: 700px;
    }
    .pt-item {
        float: left;
        width: 120px;
        margin-top: 30px;
    }
    .pt-item-first .pti-cell {
        border-left: none;
    }
    .pt-item-first .pti-cell:first-child {
        border-top-left-radius: 10px;
    }
    .pt-item-first .pti-cell:last-child {
        border-bottom-left-radius: 10px;
    }
    .pt-item-last .pti-cell:first-child {
        border-top-right-radius: 10px;
    }
    .pt-item-last .pti-cell:last-child {
        border-bottom-right-radius: 10px;
    }
    .pt-item-label {
        width: 200px;
    }
    .pt-item-label .pti-cell {
        text-align: left;
        font-size: 14px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .pt-item-main {
        width: 140px;
        margin-top: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    }
    .pt-item-main .pti-cell {
        background-color: #fff;
        border-left: none;
    }
    .pt-item-main .pti-cell-header {
        height: 90px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #00ab91;
        background: -moz-linear-gradient(top,  #00ab91 0%, #58d04e 100%);
        background: -webkit-linear-gradient(top,  #00ab91 0%,#58d04e 100%);
        background: linear-gradient(to bottom,  #00ab91 0%,#58d04e 100%);
    }
    .pt-item-main .pti-cell-btn {
        height: 94px;
        padding-top: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .pt-item-main + .pt-item .pti-cell {
        border-left: none;
    }

    .pti-cell {
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 17px;
        padding: 10px 0px;
        background-color: #f7f7f7;
        border-left: 1px solid #d8e8f2;
        border-top: 1px solid #d8e8f2;
        opacity: 0.96;
    }
    .pti-cell-header {
        background-color: #3fa9f5;
        height: 60px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-align: center;
        padding-top: 15px;
        border: none;
    }
    .pt-item-main .pti-cell-header {
        font-size: 32px;
        padding-top: 25px;
    }
    .pti-cell-price {
        height: 100px;
        padding: 16px 0;
        text-align: center;
        font-size: 14px;
    }
    .price-wrapper .pti-cell-price {
        display: none;
    }
    .price-wrapper .pti-cell-price.active {
        display: block;
    }
    .pt-item-label .pti-cell-price {
        padding: 30px 15px;
    }
    .pti-cell-btn {
        height: 82px;
        border-top: none;
    }
    .pti-cell-price .price-line {
        display: inline-block;
    }
    .pti-cell-price .price-value {
        float: left;
        font-size: 18px;
        font-weight: bold;
        color: #0269a3;
    }
    .pti-cell-price .price-period {
        float: left;
        padding: 7px 0 0 3px;
    }
    .pti-cell-price .price-period .period-full{
        display: block;
    }
    .pti-cell-price .price-period .period-short{
        display: none;
    }
    .pti-cell-price .price-type {
        clear: both;
        font-size: 14px;
        color: #999;
    }
    .pti-cell-price .price-free {
        font-size: 22px;
        font-weight: bold;
        color: #0269a3;
        padding-top: 10px;
    }
    .pt-item-main .pti-cell-price .price-value {
        color: #58d04e;
        font-size: 20px;
    }

    .plan-table .pt-item .pti-cell .fa-check-circle {
        color: #39b54a;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .fa-check-circle {
        color: #58d04e;
    }
    .plan-table .pt-item .pti-cell .fa-times-circle {
        color: #a9a9a9;
    }

    .plan-table .pt-item .pti-cell .button {
        color: #fff;
        font-family: 'SourceSansPro-Regular', sans-serif;
        background-color: #3fa9f5;
        font-size: 16px;
        height: 35px;
        width: 100px;
        padding: 0;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .button {
        background-color: #58d04e;
        font-size: 18px;
        font-weight: bold;
        padding-top: 4px;
        height: 45px;
        width: 120px;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    }
    #table-submit-wrapper {
        /*width: 810px;*//* with Agency plan*/
        width: 710px;
        margin: 20px auto 0;
    }
    .upgraderadio label,
    .plan-table .pt-item.pt-item-main .upgraderadio label {
        padding-left: 30px;
    }
}


