html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body { font-family:Poppins; min-height: 100%; }

header { margin:28px 0 0; /*position:fixed; */width:100%; z-index:11; }
header .container { width:100%; }
header.smaller { background-color:#fff; box-shadow:0 1px 2px #999; height:58px; margin:0; padding:7px 0 0; }
.logo_1 { display:none; }
header.smaller .logo { display:none; }
header.smaller .logo_1 { display:block; }
header.smaller .nav > li > a { color:#0073C2; }
header.smaller .sign_btn { border:1px solid #3fa9f5; }
header.smaller .sign_btn:hover { background-color:#fff; color:#3fa9f5; }

.menu { float:right; padding:11px 0 0; }
.menu li { float:left; list-style:none; }

/**** Navbar CSS Start Here ****/
.nav > li > a { color:#fff; cursor:pointer; font-size:16px; font-weight:500; padding:3px 22px 0; }
.navbar-default .navbar-nav > li > a { color:#fff; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }

.navbar-toggle.collapsed .icon-bar { opacity:1; top:0; transform:rotate(0deg); }
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) { top:7px; transform:rotate(45deg); }
.navbar-toggle:not(.collapsed) .icon-bar { height:2px; position:relative; transition:all 300ms ease-in-out 0s; width:22px; }
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) { opacity:0; }
.navbar-toggle:not(.collapsed) .icon-bar:last-child { top:-5px; transform:rotate(-45deg); }
/**** Navbar CSS End Here ****/

.dropdown-submenu .dropdown-menu { margin-top:0; }
.navbar-nav > li:last-child { display:none; }
/* .sign_1 a { color:#0071BC; font-size:12px; font-weight:600; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.sign_1 a:hover { color:#000; } */
.sign_1 {
    width: 90px;
}
.sign_1 a {
    background-color: transparent;
    border: 1px solid #0073c2;
    border-radius: 30px;
    display: block;
    margin: 10px 0 0;
    padding: 10px 15px !important;
    text-align: center;
    width: 90px;
}
.sign_1 a:hover { background-color:#0073c2 !important; color:#fff !important; }

.sign_btn { background-color:#3fa9f5; border:1px solid #fff; border-radius:30px; color:#fff; font-size:12px; font-weight:600; margin:0 0 0 20px; padding:12px 38px; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.sign_btn:hover { background-color:#fff; color:#3fa9f5; }
.dd1 { display:none !important; }
.mobile_main { display:none; }
.carousel-inner > .item > img.dd {
    /*width: auto;*/
    min-height: 710px;
    max-width: none;
    object-fit: contain;
    height: auto;
}
.carousel-caption.ltd-fans{
    padding: 0;
}
.home-banner{
    width: 670px;
    max-width: 100%;
}
.main .carousel-control { display:none; }
.main .carousel-caption {
    padding: 0;
    top: 50%;
    margin-top: 50px;
    transform: translate(0,-50%);
    bottom: auto;
}
.priceBox{
    padding-top:70px;overflow-x: auto; padding-bottom: 5px;
}
.priceBox-inner{
    min-width: 900px;
}
.main h1 { color:#fff; font-size:50px; font-weight:500; line-height:1.4; margin:0; }
.main h3 { color:#fff; font-size:24px; font-weight:300; margin:25px 0 55px; }

.box { background:#51b1f6;
       background:-moz-linear-gradient(-45deg, #51b1f6 0%, #8acbfa 100%);
       background:-webkit-linear-gradient(-45deg, #51b1f6 0%,#8acbfa 100%);
       background:linear-gradient(135deg, #51b1f6 0%,#8acbfa 100%);
       filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b1f6', endColorstr='#8acbfa',GradientType=1 ); 
       border:none; border-radius:30px; box-shadow:0 1px 2px #0b507f; color:#fff; display:inline; font-size:16px; height:60px; padding:0 28px; width:58%; }
.box.form-control::-moz-placeholder { color:#fff; }
.start_btn { background-color:#fff; border:1px solid #fff; border-radius:30px; color:#1fa0ef; font-size:14px; font-weight:600; letter-spacing:1.2px; padding:0px 50px; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; height: 60px; margin-left: 5px;}
.start_btn:hover { background-color:transparent; color:#fff; }

.discover_low { padding:50px 0 70px; }
/* .discover_our .container { width:100%; } */
.discover_low h3 { color:#3e526a; font-size:35px; font-weight:normal; margin:0 0 15px; line-height:1.5; text-align:center; }
.discover_low p { color:#57697e; font-size:15px; letter-spacing:0.2px; margin:26px 0 60px; text-align:center; }
.discover_low .main_1 h3 { color:#3e526a; font-size:20px; font-weight:normal; line-height:1.5; margin:0 0 15px; text-align:left; }
.discover_low .main_1 p { color:#57697e; font-size:15px; letter-spacing:0.2px; line-height:1.9; margin:0; text-align:left; }
.main_1 { background-color:#fff; border-radius:6px; box-shadow:0 5px 5px #f0f0f0; margin:0 0 35px; padding:30px; }
.main_1 img { float:left; padding:0 30px 0 0; }

.discover_our { background-color:#f9fcfe; padding:120px 0 90px; }
.discover_our .icon { background-color:#fff; border-radius:50%; box-shadow:0 5px 5px #f0f0f0; height:98px; padding:24px 0 0; width:98px; }
.discover_our .icon img { margin:0 auto; }
.discover_our h3 { color:#3e526a; font-size:35px; font-weight:normal; margin:0 0 15px; line-height:1.5; text-align:center; }
.discover_our p { color:#57697e; font-size:15px; letter-spacing:0.2px; line-height:1.5; margin:22px 0 25px; text-align:center; }
.discover_our .col-md-7 img { padding:15px 0 0; }
.discover_our .col-md-4 h3 { color:#3e526a; font-size:30px; font-weight:normal; margin:30px 0 15px; line-height:1.5; text-align:left; }
.discover_our .col-md-4 p { color:#57697e; font-size:14px; letter-spacing:0.2px; line-height:1.9; margin:22px 0 20px; text-align:left; }

.key_brain { padding:120px 0 90px; }
/* .key_brain .container { width:100%; } */
.key_brain .icon { background-color:#fff; border-radius:50%; box-shadow:0 5px 5px #f0f0f0; height:98px; padding:24px 0 0; width:98px; }
.key_brain .icon img { margin:0 auto; }
.key_brain .col-md-7 img { padding:15px 0 0; }
.key_brain .col-md-4 h3 { color:#3e526a; font-size:30px; font-weight:normal; margin:30px 0 15px; line-height:1.5; text-align:left; }
.key_brain .col-md-4 p { color:#57697e; font-size:14px; letter-spacing:0.2px; line-height:1.5; margin:22px 0 20px; text-align:left; }
.discover_our .col-md-7 { padding-right:50px; }
.key_brain .col-md-7 { padding-left:50px; }
.rank_tracker .col-md-7 { padding-right:50px; }
.discover_our .col-md-12 img { display:none; }
.rank_tracker .col-md-12 img { display:none; }

.rank_tracker { background-color:#f9fcfe; padding:120px 0 90px; }
/* .rank_tracker .container { width:100%; } */
.rank_tracker .icon { background-color:#fff; border-radius:50%; box-shadow:0 5px 5px #f0f0f0; height:98px; padding:24px 0 0; width:98px; }
.rank_tracker .icon img { margin:0 auto; }
.rank_tracker .col-md-7 img { padding:15px 0 0; }
.rank_tracker .col-md-4 h3 { color:#3e526a; font-size:30px; font-weight:normal; margin:30px 0 15px; line-height:1.5; text-align:left; }
.rank_tracker .col-md-4 p { color:#57697e; font-size:14px; letter-spacing:0.2px; line-height:1.5; margin:22px 0 20px; text-align:left; }

.get_section { background-image:url(../images/bg.jpg); background-position:center center; background-repeat:no-repeat; background-size:100% 100%; padding:130px 0; }
.get_section h3 { color:#fff; font-size:35px; font-weight:normal; line-height:1.4; margin:0 0 32px; text-align:center; }
.get_btn { background-color:#fff; border:1px solid #fff; border-radius:30px; color:#3fa9f5; font-size:16px; font-weight:600; letter-spacing:1.2px; padding:18px 50px; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; text-transform:uppercase; }
.get_btn:hover { background-color:transparent; color:#fff; }

.our_client { padding:100px 0; }
.our_client h3 { color:#3e526a; font-size:35px; font-weight:normal; margin:0 0 15px; line-height:1.5; text-align:center; }
.our_client p { clear:both; color:#57697e; font-size:14px; line-height:1.9; padding:20px 0 0; }
.text { padding:50px 0 0; }
.text img { border:3px solid #fff; box-shadow:0 0 2px #aaa; float:left; margin:0 20px 0 0; }
.text h3 { color:#3e526a; font-size:20px; margin:0; text-align:left; }
.text p { clear:none; color:#90a2b7; font-size:14px; line-height:normal; padding:0; }
.our_client .owl-page span { background-color:#52b2f6 !important; border-radius:0 !important; height:4px !important; margin:5px !important; width:40px !important; }

.pricing_plan { background-color:#f9fcfe; padding:100px 0; }
.pricing_plan h3 { color:#3e526a; font-size:35px; font-weight:normal; margin:0 0 15px; line-height:1.5; text-align:center; }
.price_txt { background-color: #171269; border-radius: 10px; color: #FFF;font-size: 15px;padding: 0 0px 70px; }
.price_txt li { border-bottom: 1px solid #38347F;list-style: none;padding: 0;height: 57px;line-height: 55px;font-size: 13px;text-align: center}
.price_txt li:first-child { background-color: rgba(255, 255, 255, 0.1); border-bottom: none;font-weight: 600;letter-spacing: 1.2px;margin: 0;padding:0;text-align: center;text-transform: uppercase; }
.price_txt li:nth-child(2) { font-weight: 600;margin: 0;padding: 0;padding-left:0;height: 73px;line-height: 70px; }
.price_txt li span { color:#52b2f6; }

/****************************** button CSS start here ***********************************/
.pricing_plan .switch { position:relative; display:inline-block; width:56px; height:30px; }
.pricing_plan .switch input { display:none; }
.pricing_plan label { margin:0 10px -10px; }
.pricing_plan .slider { position:absolute; cursor:pointer; top:0; left:0; right:0; bottom:0; background-color:#ccc; -webkit-transition:.4s; transition:.4s; }
.pricing_plan .slider:before { position:absolute; content:""; height:20px; width:20px; left:5px; bottom:5px; background-color:#52b2f6; -webkit-transition:.4s; transition:.4s; }
.pricing_plan input:checked + .slider { background-color:#f5f6fa; }
.pricing_plan input:checked + .slider:before { -webkit-transform:translateX(26px); -ms-transform:translateX(26px); transform:translateX(26px); }
.pricing_plan .slider.round { border-radius:34px; }
.pricing_plan .slider.round:before { border-radius:50%; }
/****************************** button CSS end here ***********************************/

.pricing_plan .container { padding-top:70px; }
.price_1 { background-color:#fff; box-shadow:0 5px 5px #f0f0f0; border-radius:10px; color:#3e526a; font-size:16px; padding:0 18px; text-align:center; }
.price_1 li { border-bottom:1px solid #e6eaee; list-style:none; padding:17px 0; }
.price_1 li:first-child { background:#eef6fb;
                          background:-moz-linear-gradient(left, #eef6fb 0%, #d2ecfc 100%);
                          background:-webkit-linear-gradient(left, #eef6fb 0%,#d2ecfc 100%);
                          background:linear-gradient(to right, #eef6fb 0%,#d2ecfc 100%);
                          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef6fb', endColorstr='#d2ecfc',GradientType=1 ); 
                          border-top-left-radius:7px; border-top-right-radius:7px; border-bottom:none; color:#3e526a; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.price_1 li:nth-child(2) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:16px 18px; }
.price_1 li span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.price_1 strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.price_1 i { color:#ff5a00; }
.get_btn1 { background-color:transparent; border:1px solid #3fa9f5; border-radius:30px; color:#3fa9f5; font-size:12px; font-weight:600; letter-spacing:1.2px; padding:10px 25px; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.get_btn1:hover { background-color:#3fa9f5; color:#fff; }
.forgot-pass {  padding: 0 0 30px;}

.price_2 { background-color:#fff; box-shadow:0 5px 5px #f0f0f0; border-radius:10px; color:#3e526a; font-size:16px; padding:0 18px; text-align:center; }
.price_2 li { border-bottom:1px solid #e6eaee; list-style:none; padding:17px 0; }
.price_2 li:first-child { background:#cfebfe;
                          background:-moz-linear-gradient(-45deg, #cfebfe 0%, #3ea7f4 100%);
                          background:-webkit-linear-gradient(-45deg, #cfebfe 0%,#3ea7f4 100%);
                          background:linear-gradient(135deg, #cfebfe 0%,#3ea7f4 100%);
                          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfebfe', endColorstr='#3ea7f4',GradientType=1 ); 
                          border-top-left-radius:7px; border-top-right-radius:7px; border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.price_2 li:nth-child(2) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_2 li:nth-child(3) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_2 li span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.price_2 strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.price_2 b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }
.price_2 li span { color:#52b2f6; }
.price_2 i { color:#43d14b; }

.price_3 { background-color:#fff; box-shadow:0 5px 5px #f0f0f0; border-radius:10px; color:#3e526a; font-size:16px; padding:0 18px; text-align:center; }
.price_3 li { border-bottom:1px solid #e6eaee; list-style:none; padding:17px 0; }
.price_3 li:first-child { background:#7bf4b6;
                          background:-moz-linear-gradient(-45deg, #7bf4b6 0%, #4ae655 100%);
                          background:-webkit-linear-gradient(-45deg, #7bf4b6 0%,#4ae655 100%);
                          background:linear-gradient(135deg, #7bf4b6 0%,#4ae655 100%);
                          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bf4b6', endColorstr='#4ae655',GradientType=1 );
                          border-top-left-radius:7px; border-top-right-radius:7px; border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.price_3 li:nth-child(2) { color:#4ae655; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_3 li:nth-child(3) { color:#4ae655; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_3 li span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.price_3 strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.price_3 b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }
.price_3 li span { color:#52b2f6; }
.price_3 i { color:#43d14b; }

.price_4 { background-color:#fff; box-shadow:0 5px 5px #f0f0f0; border-radius:10px; color:#3e526a; font-size:16px; padding:0 18px; text-align:center; }
.price_4 li { border-bottom:1px solid #e6eaee; list-style:none; padding:17px 0; }
.price_4 li:first-child { background:#f3bd9c;
                          background:-moz-linear-gradient(-45deg, #f3bd9c 0%, #db8bd8 100%);
                          background:-webkit-linear-gradient(-45deg, #f3bd9c 0%,#db8bd8 100%);
                          background:linear-gradient(135deg, #f3bd9c 0%,#db8bd8 100%);
                          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bd9c', endColorstr='#db8bd8',GradientType=1 );
                          border-top-left-radius:7px; border-top-right-radius:7px; border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.price_4 li:nth-child(2) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_4 li:nth-child(3) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:6px 18px; }
.price_4 li span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.price_4 strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.price_4 b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }
.price_4 li span { color:#52b2f6; }
.price_4 i { color:#43d14b; }

.pricing_plan .col-md-4 { padding-right:5px; }
.pricing_plan .col-md-2 { padding:0 5px; }

.card_section { background-color:#f9fcfe; }
.card_section .card { background-color:#fff; border-radius:10px; border-top:10px solid #52b2f6; box-shadow:0 0 5px #f0f0f0; margin:0 0 120px; padding:65px 0 60px; }
.card_section img { margin:0 auto; }
.card_section h3 { color:#52b2f6; font-size:35px; font-weight:normal; line-height:1.4; margin:60px auto 0; text-align:center; width:60%; }

.question_section { background-image:url(../images/bg_1.jpg); background-position:center center; background-repeat:no-repeat; background-size:100% 100%; margin:-340px 0 0; padding:0 0 120px; -webkit-padding-before:340px;}
.accordion_container { padding:30px 0 0; }
.question_section h3 { color:#fff; font-size:35px; font-weight:normal; margin:0 0 15px; line-height:1.5; text-align:center; }
.accordion_head { border-top:1px solid #79c3f8; color:#fff; cursor:pointer; font-size:16px; font-weight:500; padding:30px 0; text-transform:uppercase; }
.accordion_body { margin:-10px 0 30px; }
.plan-view { float:right; }
.accordion_body p { color:#fff; font-size:14px; line-height:2; }
.accordion_body b { text-decoration:underline; color: #fff;}
.accordion_head:first-child { border-top:none; }
.accordion_head:last-child { border-bottom:1px solid #79c3f8; }

.still h3 { border-top:1px solid #79c3f8; color:#fff; font-size:30px; font-weight:normal; margin:0; padding:60px 0 8px; text-align:center; }
.still p { color:#fff; font-size:20px; margin:0 0 30px; text-align:center; }

footer { background-image:url(../images/bg_2.jpg); background-position:center center; padding:130px 0 110px; }
footer img { margin:0 auto; }
footer p { color:#90a2b7; font-size:18px; line-height:1.7; margin:40px 0 50px; text-align:center; }
.social { text-align:center; }
.social i { border-radius:50%; box-shadow:0 0 7px #e9e9e9; color:#7b7a9f; font-size:18px; height:45px; margin:0 15px; padding:14px 0 0; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; width:45px; }
.social i:hover { background-color:#3fa9f5; color:#fff; }

.copy { background-color:#33324e; padding:25px 0; /*position:sticky;*/  right: 0;  bottom: 0;  left: 0; }
.copy p { color:#7b7a9f; font-size:15px; margin:0; }
.copy ul { margin:0; padding:0; text-align:right; }
.copy li { display:inline-block; padding:0 0 0 12px; }
.copy li:first-child a { color:#fff; }
.copy li:first-child a:hover { color:#7b7a9f; }
.copy a { color:#7b7a9f; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.copy a:hover { color:#fff; }

/****************************************** sign_up CSS start here *****************************/
.inner_header { background-color:#fff; box-shadow:0 1px 2px #e0e0e0; padding:28px 0 22px; margin: 0 !important; }
.inner_header .navbar-default .navbar-nav > li > a { color:#547173; }
.inner_header .sign_btn { background-color:transparent; border:1px solid #3fa9f5; color:#3fa9f5; }
.inner_header .sign_btn:hover { background-color:#3fa9f5; color:#fff; }
.sign_up_main { background-color:#f9fcfe; padding:80px 0 100px; }
.sign_up_main img { margin:0 auto; }
.sign_up_main h3 { color:#3e526a; font-size:30px; font-weight:600; margin:25px 0 40px; text-align:center; text-transform:uppercase; }
.sign_up_main form { background-color:#fff; border-radius:10px; box-shadow:0 0 5px #e0e0e0; padding:45px 50px; }
.sign_up_main form p { color:#627183; font-size:16px; margin:0 0 10px; text-align:left; }
.sign_up_main i { border-left:1px solid #c5d0df; color:#c5d0df; font-size:20px; line-height:27px; padding:14px 20px; position:absolute; right:65px; width:60px; }
.box_1 { border:1px solid #e8e9ed; box-shadow:none; color:#c5d0df; font-size:18px; height:55px; margin:0 0 35px; }
.sign_up_main .form-control:focus { border-color:#52b2f6; box-shadow:none; }
.sign_up_main .form-control::-moz-placeholder { color:#c5d0df; }
.create_btn { background-color:#52b2f6; border:1px solid #52b2f6; border-radius:30px; color:#fff; font-size:16px; font-weight:600; padding:15px 60px; text-transform:uppercase; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.create_btn:hover { background-color:transparent; color:#52b2f6; }
.sign_up_main  p { color:#90a2b7; font-size:18px; margin:38px 0 0; text-align:center; }
.sign_up_main  p a { color:#52b2f6; }
.sign_up_main  p a:hover { color:#90a2b7; }
.recovery h3 {
    color: #52b2f6;
    font-size: 24px;
    font-weight: normal;
    margin: 25px 0 30px;
    text-align: center;
}
.recovery form p {
    color: #627183;
    font-size: 16px;
    line-height: 1.7;
    margin: 0 0 10px;
    text-align: center;
}
.recovery form b {
    color: #627183;
    display: block;
    font-size: 16px;
    font-weight:normal;
    margin: 60px 0 10px;
    text-align: left;
}
.recovery .create_btn {
    margin: 40px 0 30px;
    padding: 15px 40px;
}
.recovery form {
    margin: 0 0 45px;
}
.recovery {
    padding: 220px 0 160px;
}

/**************************************** success_page CSS start here ***************************/
.success_main { background-color:#f9fcfe; padding:230px 0; }
.success_main img { margin:0 auto; }
.success_main h3 { color:#09dd85; font-size:24px; font-weight:normal; margin:40px 0 18px; text-align:center }
.success_main p { color:#627183; font-size:16px; line-height:1.8; margin:0; text-align:center; }
.success_main form { background-color:#fff; border-radius:10px; box-shadow:0 0 5px #e0e0e0; padding:100px 45px 130px; }

/*************************Mobile view price table****************************/

.inter { display:none; }
.inter table { border:1px solid #e6eaee; border-bottom:none; color:#000; font-size:16px; margin:0 auto 20px; width:100%; }
.inter th { border-right:1px solid #e6eaee; padding:10px; }
.inter td { border-bottom:1px solid #e6eaee; border-right:1px solid #e6eaee; color:#3e526a; padding:14px 10px; text-align:center; }
.inter tr:first-child td:first-child { font-weight:600; letter-spacing:1.2px; margin:0 -28px; padding:15px 0; text-align:center; text-transform:uppercase; }
.inter td:first-child { background-color:#171269; border-bottom:1px solid #38347f; color:#fff; text-align:left;  }
.inter td:first-child tr { border-bottom:1px solid #38347f; }
.inter tr:first-child td:nth-child(2) { background:#eef6fb;
                                        background:-moz-linear-gradient(left, #eef6fb 0%, #d2ecfc 100%);
                                        background:-webkit-linear-gradient(left, #eef6fb 0%,#d2ecfc 100%);
                                        background:linear-gradient(to right, #eef6fb 0%,#d2ecfc 100%);
                                        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef6fb', endColorstr='#d2ecfc',GradientType=1 ); 
                                        border-bottom:none; color:#3e526a; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.inter tr:nth-child(2) td:nth-child(2) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:16px 36px; }
.inter tr:nth-child(2) td:nth-child(2) span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.inter tr:nth-child(2) td:nth-child(2) strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.inter .fa.fa-times { color:#ff5a00; }
.inter .fa.fa-check { color:#43d14b; }

.inter tr:first-child td:nth-child(3) { background:#cfebfe;
                                        background:-moz-linear-gradient(-45deg, #cfebfe 0%, #3ea7f4 100%);
                                        background:-webkit-linear-gradient(-45deg, #cfebfe 0%,#3ea7f4 100%);
                                        background:linear-gradient(135deg, #cfebfe 0%,#3ea7f4 100%);
                                        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfebfe', endColorstr='#3ea7f4',GradientType=1 ); 
                                        border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.inter tr:nth-child(2) td:nth-child(3) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:16px 18px; }
.inter tr:nth-child(2) td:nth-child(3) span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.inter tr:nth-child(2) td:nth-child(3) strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.inter tr:nth-child(2) td:nth-child(3) b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }

.inter tr:first-child td:nth-child(4) { background:#7bf4b6;
                                        background:-moz-linear-gradient(-45deg, #7bf4b6 0%, #4ae655 100%);
                                        background:-webkit-linear-gradient(-45deg, #7bf4b6 0%,#4ae655 100%);
                                        background:linear-gradient(135deg, #7bf4b6 0%,#4ae655 100%);
                                        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bf4b6', endColorstr='#4ae655',GradientType=1 );
                                        border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.inter tr:nth-child(2) td:nth-child(4) { color:#4ae655; font-size:36px; font-weight:600; margin:0 -18px; padding:16px 18px; }
.inter tr:nth-child(2) td:nth-child(4) span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.inter tr:nth-child(2) td:nth-child(4) strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.inter tr:nth-child(2) td:nth-child(4) b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }

.inter tr:first-child td:nth-child(5) { background:#cfebfe;
                                        background:-moz-linear-gradient(-45deg, #cfebfe 0%, #3ea7f4 100%);
                                        background:-webkit-linear-gradient(-45deg, #cfebfe 0%,#3ea7f4 100%);
                                        background:linear-gradient(135deg, #cfebfe 0%,#3ea7f4 100%);
                                        filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfebfe', endColorstr='#3ea7f4',GradientType=1 ); 
                                        border-bottom:none; color:#fff; font-weight:600; letter-spacing:1.2px; margin:0 -18px; padding:15px 0; text-align:center; text-transform:uppercase; }
.inter tr:nth-child(2) td:nth-child(5) { color:#52b2f6; font-size:36px; font-weight:600; margin:0 -18px; padding:16px 18px; }
.inter tr:nth-child(2) td:nth-child(5) span { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:15px; }
.inter tr:nth-child(2) td:nth-child(5) strong { color:#90a2b7; font-size:14px; font-weight:normal; vertical-align:0; }
.inter tr:nth-child(2) td:nth-child(5) b { color:#90a2b7; display:block; font-size:14px; font-weight:normal; }
/*************************mobile view price table****************************/


/*.................. Home-Page-Media .................. */
@media (max-width:1400px){
    .carousel-caption{
        padding-bottom: 10%;
    }
    .main h1 {
        font-size: 40px;
        line-height: 1.2;
    } 
    .main h3{
        font-size: 22px;
    }
    .box{
        height: 50px;
    }
    .start_btn{
        height: 50px;
        padding: 0px 40px;
    }
}
@media (max-width:1400px){
    .main .carousel-caption{
        margin-top: 30px;
    }
}
@media (min-width:320px) and (max-width:479px){
    .main_1 img { float:none; margin:0 auto; padding:0 0 10px; }
    .copy ul { font-size:12px; }
    .box { font-size:13px; height:30px; }
    .start_btn { box-shadow:0 1px 2px #0b507f; font-size:13px; letter-spacing:0; padding:5px 10px; }
    .mobile_main { padding:45px 0 0; }
    .mobile_main h1 { font-size:17px; line-height:1.4; margin:0; text-align:center; }
    .mobile_main h3 { font-size:14px; line-height:1.5; margin:10px 0 15px; text-align:center; }
    .mobile_main form { text-align:center; }
    .copy li { padding:0 3px !important; }
}

@media (min-width:320px) and (max-width:767px){
    .dd { display:none !important; }	
    .dd1 { display:block !important; }
    .mobile_main { display:block; }
    .start_btn:hover { color:#1fa0ef; }
    .main .col-md-7 { display:none; }	
    .sign_1 { display:block; }
    .sign_btn { display:none; }
    .navbar-nav > li:last-child { display:block; }
    header { background-color:#fff; box-shadow:0 1px 2px #999; margin:0; padding:11px 0 10px; }
    .logo { display:none; }
    .logo_1 { display:block; position:relative; width:215px; z-index:1; }
    .menu { float:none; margin:-50px 0 0; }
    .menu li { float:none; }
    .navbar-default .navbar-nav > li > a { color:#0269a3; }
    .nav > li > a { padding:8px 0; }
    header .navbar-nav { margin:7px 0 0; }
    header.smaller { height:auto; padding:8px 0 10px; }
    .main { padding:65px 0 0; }
    .discover_low h3 { font-size:22px; }
    .discover_low p { margin:26px 0 30px; }
    .discover_low { padding:50px 0 30px; }
    .discover_our h3 { font-size:22px; }
    .discover_our { padding:40px 0 30px; }
    .discover_our p { margin:22px 0 0; }
    .discover_our .icon { margin:30px 0 0; }
    .discover_our .col-md-4 h3 { font-size:20px; }
    .discover_our .col-md-12 img { display:block; }
    .discover_our .col-md-7 img { display:none; }
    .rank_tracker .col-md-12 img { display:block; }
    .rank_tracker .col-md-7 img { display:none; }
    .key_brain { padding:0; }
    .key_brain .col-md-4 h3 { font-size:20px; }
    .discover_our .col-md-7 { padding-right:15px; }
    .key_brain .col-md-7 { padding-left:15px; }
    .rank_tracker .col-md-7 { padding-right:15px; }
    .rank_tracker { padding:0 0 50px; }
    .rank_tracker .col-md-4 h3 { font-size:20px; }
    .rank_tracker .icon { margin:30px 0 0; }
    .get_section h3 { font-size:20px; }
    .get_btn { padding:15px 12px; }
    .get_section { padding:40px 0 50px; }
    .our_client h3 { font-size:19px; }
    .our_client { padding:40px 0; }
    .pricing_plan { background-color:#f9fcfe; padding:40px 0; }
    .pricing_plan h3 { font-size:22px; }
    .pricing_plan .container { padding-top:40px; }
    .pricing_plan .col-md-4 { padding:0 5px; }
    .pricing_plan .col-md-2 { float:left; width:50%; }
    .price_txt li span { padding:12px 0 0; }
    .get_btn1 { margin:0 -10px; padding:7px 10px; }
    .price_txt { padding:0 8px 40px; }
    .price_txt li:first-child { margin:0 -8px; }
    .price_txt li:nth-child(2) { margin:0 -8px; padding:12px 8px; }
    .price_1 { padding:0 8px; }
    .price_1 li:first-child { margin:0 -8px; }
    .price_1 li:nth-child(2) { font-size:28px; margin:0 -8px; padding:6px 8px; }
    .price_2 { padding:0 8px; }
    .price_2 li:first-child { margin:0 -8px; }
    .price_2 li:nth-child(2) { font-size:28px; margin:0 -8px; padding:6px 8px; }
    .price_3 { padding:0 8px; }
    .price_3 li:first-child { margin:0 -8px; }
    .price_3 li:nth-child(2) { font-size:28px; margin:0 -8px; padding:6px 8px; }
    .price_4 { padding:0 8px; }
    .price_4 li:first-child { margin:0 -8px; }
    .price_4 li:nth-child(2) { font-size:28px; margin:0 -8px; padding:6px 8px; }
    .card_section h3 { font-size:20px; margin:20px auto 0; width:auto; }
    .card_section .card { margin:0 0 50px; padding:30px 10px; }
    .question_section { margin:0; padding:40px 0 50px; }
    .question_section h3 { font-size:22px; }
    .still h3 { padding:40px 0 8px; }
    .accordion_head { font-size:14px; padding:12px 0; }
    footer { padding:60px 0; }
    footer p { font-size:14px; margin:40px 0 20px; }
    .copy p { font-size:14px; margin:0 0 13px; text-align:center; }
    .copy ul { text-align:center; }
    .main_1 { box-shadow:0 0 5px #f0f0f0; }

    /********************************* sign_up media start here ****************************/
    .sign_up_main { padding:150px 0 50px; }
    .sign_up_main form { padding:20px 15px; }
    .box_1 { font-size:14px; height:45px; margin:0 0 20px; padding-right: 60px; }
    .sign_up_main i { font-size:16px; padding:9px 15px; right:45px; width:20px; }
    .create_btn { font-size:15px; padding:13px 35px; }
    .sign_up_main p { font-size:16px; margin:25px 0 0; }
    .recovery h3 { font-size:20px; }
    .recovery form b { margin:30px 0 10px; }
    .recovery .create_btn { margin:20px 0 30px; padding:13px 30px; }
    /********************************* success_page media start here ****************************/
    .success_main { padding:180px 0 70px; }
    .success_main form { padding:50px 15px; }
    .success_main h3 { font-size:18px; line-height:1.5; margin:25px 0 18px; }
    .success_main p { font-size:14px; }

    .inter { display:block; }
    .pricing_plan .row:nth-child(2) { display:none; }
    .main_1 { padding:10px; }
    .copy li { padding:0 10px; }
    .main .carousel-caption {
        position: static;
        transform: translate(0);
    }
    .after-ltdf-span{
        color: #707070;
    }
    .after-ltdf-span a{
        color: #428bca !important;
    }
    .counter-container h1{
        color: #000;
        font-size: 28px;
        line-height: 28px;
    }
    .counter-container h3 {
        color: #707070;
        margin: 10px 0 0 0 ;
    }
}
@media (min-width:640px) and (max-width:767px){

}
@media (min-width:480px) and (max-width:639px){
    .box { font-size:15px; height:38px; }
    .start_btn { box-shadow:0 1px 2px #0b507f; font-size:14px; letter-spacing:0; padding:7px 10px; }
    .mobile_main { padding:45px 0 0; }
    .mobile_main h1 { font-size:22px; margin:0; text-align:center; }
    .mobile_main h3 { font-size:17px; margin:10px 0 15px; text-align:center; }
    .mobile_main form { text-align:center; }
}

@media (min-width:640px) and (max-width:767px){
    .box { font-size:16px; height:42px; }
    .start_btn { box-shadow:0 1px 2px #0b507f; font-size:15px; letter-spacing:0; padding:9px 10px; height: 42px;}
    .mobile_main { padding:45px 0 0; }
    .mobile_main h1 { font-size:28px; margin:0; text-align:center; }
    .mobile_main h3 { font-size:20px; margin:10px 0 15px; text-align:center; }
    .mobile_main form { text-align:center; }	
    .pricing_plan .col-md-2 { width:25%; }

}

@media (min-width:768px) and (max-width:1023px){
    .nav > li > a { padding:3px 15px 0; font-size:15px; }
    .main h1 { font-size:20px; }
    .main h3 { font-size:17px; margin:15px 0 20px; }
    .box { height:50px; }
    .start_btn { padding:14px 20px; }
    .main .carousel-caption { left:3%; padding-bottom:6%; right:3%; }
    .discover_low h3 { font-size:30px; }
    .discover_our .col-md-4 h3 { font-size:22px; }
    .discover_our .col-md-4 p { font-size:12px; margin:15px 0 0; }
    .key_brain h3 { font-size:30px; }
    .key_brain .col-md-4 h3 { font-size:22px; }
    .key_brain .col-md-4 p { font-size:12px; margin:15px 0 0; }
    .discover_our .col-md-7 { padding-right:15px; }
    .key_brain .col-md-7 { padding-left:15px; }
    .rank_tracker .col-md-7 { padding-right:15px; }
    .rank_tracker h3 { font-size:30px; }
    .rank_tracker .col-md-4 h3 { font-size:22px; }
    .rank_tracker .col-md-4 p { font-size:12px; margin:15px 0 0; }
    .get_section h3 { font-size:30px; }
    .our_client h3 { font-size:30px; }
    .text h3 { font-size:20px !important; }
    .pricing_plan h3 { font-size:30px; }
    .price_1 li:nth-child(2) { font-size:20px; }
    .price_2 li:nth-child(2) { font-size:20px; }
    .price_3 li:nth-child(2) { font-size:20px; }
    .price_4 li:nth-child(2) { font-size:20px; }
    .card_section h3 { font-size:30px; width:auto; }
    .question_section h3 { font-size:30px; }
    .copy p { font-size:12px; margin:3px 0 0; }
    .price_txt li span { display:block; padding:12px 0 0; }
    .get_btn1 { margin:0 -10px; padding:7px 10px; }
    .price_txt { padding:0 8px 70px; }
    .price_txt li:first-child { margin:0 -8px; }
    .price_txt li:nth-child(2) { margin:0 -8px; /*padding:12px 8px; */}
    .price_1 { padding:0 8px; }
    .price_1 li:first-child { margin:0 -8px; }
    .price_1 li:nth-child(2) { margin:0 -8px; padding:6px 8px; }
    .price_2 { padding:0 8px; }
    .price_2 li:first-child { margin:0 -8px; }
    .price_2 li:nth-child(2) { margin:0 -8px; padding:6px 8px; }
    .price_3 { padding:0 8px; }
    .price_3 li:first-child { margin:0 -8px; }
    .price_3 li:nth-child(2) { margin:0 -8px; padding:6px 8px; }
    .price_4 { padding:0 8px; }
    .price_4 li:first-child { margin:0 -8px; }
    .price_4 li:nth-child(2) { margin:0 -8px; padding:6px 8px; }
    .discover_our { padding:120px 0 0; }
    .key_brain { padding:60px 0 0; }
    .rank_tracker { padding:60px 0 90px; }
}

@media (min-width:1024px) and (max-width:1024px){
    .main h1 { font-size:32px; }
    .main h3 { font-size:20px; margin:20px 0 32px; }
    .main .carousel-caption { left:4%; padding-bottom:9%; right:4%; }
    .discover_low h3 { font-size:30px; }
    .discover_our h3 { font-size:30px; }
    .rank_tracker h3 { font-size:30px; }
    .main_1 img { padding:0 12px 0 0; }
    .discover_our .col-md-4 h3 { font-size:22px; }
    .key_brain .col-md-4 h3 { font-size:22px; }
    .rank_tracker .col-md-4 h3 { font-size:22px; }
    .discover_our .col-md-7 { padding-right:15px; }
    .key_brain .col-md-7 { padding-left:15px; }
    .rank_tracker .col-md-7 { padding-right:15px; }
    .main_1 img { padding:0 12px 50px 0; }
    .get_section h3 { font-size:30px; }
    .our_client h3 { font-size:30px; }

    .price_txt { font-size:15px; padding:0 16px 70px; }
    .price_txt li:first-child { margin:0 -16px; }
    .price_txt li:nth-child(2) { margin:0 -16px; /*padding:28px 16px;*/ }
    .price_1 { padding:0 16px; }
    .price_1 li:first-child { margin:0 -16px; }
    .price_1 li:nth-child(2) { margin:0 -16px; padding:6px 16px; }
    .price_2 { padding:0 16px; }
    .price_2 li:first-child { margin:0 -16px; }
    .price_2 li:nth-child(2) { font-size:30px; margin:0 -16px; padding:6px 16px; }
    .price_2 b { font-size:13px; }
    .price_3 { padding:0 16px; }
    .price_3 li:first-child { margin:0 -16px; }
    .price_3 li:nth-child(2) { font-size:30px; margin:0 -16px; padding:6px 16px; }
    .price_3 b { font-size:13px; }
    .price_4 { padding:0 16px; }
    .price_4 li:first-child { margin:0 -16px; }
    .price_4 li:nth-child(2) { font-size:30px; margin:0 -16px; padding:6px 16px; }
    .price_4 b { font-size:13px; }
    .pricing_plan label { margin:0 0 -10px; }
    .get_btn1 { padding:8px 10px; }
    .card_section h3 { font-size:30px; }
}

/* Switch button */
.minitoggle {
    background-color: #ebebeb;
    border: 1px solid #e6e6e6;
    border-radius: 56px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) inset;
    height: 28px;
    position: relative;
    width: 50px;
    cursor: pointer;
}

.minitoggle .toggle-handle {
    background-color: #47ACF5;
    background-image: linear-gradient(to bottom, #47ACF5 0px, #47ACF5 100%);
    border-radius: 100px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    height: 20px;
    left: 3px;
    position: absolute;
    top: 3px;
    transition: transform 0.1s ease-in-out 0s, border 0.1s ease-in-out 0s;
    -webkit-transition: transform 0.1s ease-in-out 0s, border 0.1s ease-in-out 0s;
    width: 20px;
    z-index: 2;
}

.minitoggle.active {
    /* background-color: #4CD964;
    border: 1px solid #4CD964; */
    box-shadow: inset 0 0 15px rgba(255, 255, 255, .25);
}

.minitoggle.active .toggle-handle {
    transform: translate3d(28px,0,0);
    -webkit-transform: translate3d(28px,0,0);
}

/*blue*/

.minitoggle.blue.active {
    background-color: #69BDFE;
    border-color: #69BDFE;
}

.minitoggle.blue.active .toggle-handle {
    border-color: #3C78A5;
}

/*yellow*/

.minitoggle.yellow.active {
    background-color: #FFE186;
    border-color: #FFE186;
}

.minitoggle.yellow.active .toggle-handle {
    border-color: #F1C12F;
}

/*red*/

.minitoggle.red.active {
    background-color: #F79A7A;
    border-color: #F79A7A;
}

.minitoggle.red.active .toggle-handle {
    border-color: #EC6231;
}

/*orange*/

.minitoggle.orange.active {
    background-color: #FFB777;
    border-color: #FFB777;
}

.minitoggle.orange.active .toggle-handle {
    border-color: #F70;
}
/* Switch button */

.monthly {
    display: none;
}

.annually {
    display: none;
}
.annually.active {
    display: block;
}
.monthly.active {
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.after-ltdf {
    text-align: center;
    margin-top: 15px;
}
.after-ltdf-span{
    text-transform: uppercase;
    font-size: 20px;
}
/** 16-04-2018**/
.question_section .accordion_head {
    position: relative;
}
.question_section .accordion_head i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.main_1 {
    height:225px;
}
/**24-04-18**/
.sign_up_main{
 height:calc(100vh - 163px);
}
/**26-04-18**/
@media screen and (max-width:1600px){
    .sign_up_main.recovery{
        padding: 80px 0 100px;
    }
    .sign_up_main{
        padding: 48px 0 100px;
    }
}
@media screen and (max-width:1024px) and (min-width:900px){
  .sign_up_main {
    /*height: auto;*/
    padding: 75px 0px;
}
}
@media screen and (min-height:900px) and (max-height:1280px){
    .sign_up_main{
        height:calc(100vh - 162px);
    }
}
@media screen and (min-height:600px) and (max-height:799px){
    .sign_up_main{
        height:auto;
    }
}
/**18-04-18**/
@media screen and (min-width:1024px) and (max-width:1920px){
    .priceBox {
        overflow-x: unset;
    }
    .priceBox-inner{
        min-width:100px;
    }
}
@media screen and (min-width:1024px) and (max-width:1440px){
    .price_txt li{
        padding-top: 14px;
        line-height: unset;
    }
    .price_txt li:first-child{
        line-height: 55px;
    }
    .price_txt li:nth-child(2){
        height: 89px;
        line-height: 95px;
    }
}
/**25-04-18 **/
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: landscape) {
    .sign_up_main{
        height:auto;
    }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-moz-min-device-pixel-ratio: 1.5)  and (orientation: landscape) {
    .sign_up_main{
        height:auto;
    }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: landscape) {
    .sign_up_main{
        height:auto;
    }
}
@media only screen and (min-device-height: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
    .sign_up_main.recovery {
        height: calc(100vh - 163px);
    }
}
@media only screen and (min-device-height: 800px) and (max-device-width: 1280px) and (-moz-min-device-pixel-ratio: 1.5)  and (orientation: portrait) {
    .sign_up_main.recovery {
        height: calc(100vh - 163px);
    }
}

/**20-04-18**/
@media screen and (max-width:1680px){
 .carousel-inner > .item > img.dd{
        width:auto;
 }
}
/**27-04-18**/
@media only screen and (max-width:1280px) and  (min-width:1280px){
.sign_up_main {
    height: calc(100vh - 66px);
}
}

/**17-04-18**/
@media screen and (max-width:1024px){
 .carousel-inner > .item > img.dd{
    min-height: 590px;
    max-width: 120%;
 }
}
@media screen and (max-width:991px){
    .carousel-inner > .item > img.dd{
        min-height: 435px;
        max-width: 115%;
    }
    .home-banner {
      width: 482px;
      max-width: 100%;
    }
}
/**12-04-18**/
@media screen and (max-width:768px){
     .home-banner {
         text-align: center;
     }
     .main_1 {
         height:auto;
    }
    /**26-04-18**/
    .sign_up_main.recovery {
        padding: 195px 0 160px;
}
}
@media screen and (max-width:767px){
    .home-banner {
        text-align: center;
        /*background-color: #7DC4FA;*/
        width:100%;
        padding:12px 0px 5px;
    }
    .home-banner h1 {
        font-size: 30px;
        color: #3e526a;
    }
    .home-banner h3 {
        margin-bottom: 0px;
        color: #57697e;
    }
    .home-banner form {
         margin: 25px 0px;
    }
    .discover_low{
        padding: 10px 0 30px;
    }
    /**13-4-18**/
    .price_txt li,.price_txt li:nth-child(2),.price_2 li,.price_2 li:nth-child(3),.price_3 li {
         height: 55px;
         position: relative;
         padding:0px;
    }
    .price_2 li,.price_3 li {
        padding: 20px 0px;
    }
    .price_txt li:nth-child(2){
        line-height: 55px;
    }
    .landing-pricing input.create_btn {
        padding: 8px 20px;
        width: auto;
        font-size: 14px;
    }
}
/** 26-06-18**/
@media screen and (max-width:763px){
   .sign_up_main, .sign_up_main.recovery {
    height: auto;
}
.sign_up_main.recovery {
    padding: 80px 0 65px;
}
}
@media only screen and (max-width:600px) and (min-width:600px){
    .sign_up_main,.sign_up_main.recovery{
        height: calc(100vh - 162px);
    }
}
@media screen and (max-width: 480px){
  .card-box .tile-body.mt-20 {
    overflow: scroll;
}
/**12-04-18**/
.home-banner h1 {
    font-size: 25px;
}
.home-banner h3 {
    font-size: 20px;
}
.start_btn {
    height: 30px;
}
}
/**10-04-18**/
.box_1{
  padding-right: 60px;  
}
.sign_up_main input#email {
    padding-right: 60px;
}


