/**
 * BORROWED FROM PROPOSED THEME
 *
 * http://www.tattek.sk/minovate-noAngular/ui-navs.html#
 */


.nav-tabs {
  border: 0;
  background-color: #f5f5f5;
}

.nav-tabs > li {
  margin-bottom: 0;
}

.nav-tabs > li > a {
  border: 0;
  border-radius: 0;
  margin-right: 0;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -3px 0 transparent;
  box-shadow: inset 0 -3px 0 transparent;
}

.nav-tabs > li > a:hover {
  background-color: #f0f0f0;
  border: 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  box-shadow: inset 0 -3px 0 #428bca;
  border: 0;
  background-color: #e8e8e8;
}

.nav-tabs > li.active:after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  height: 0;
  width: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #428bca;
}

.nav-tabs > li.tabs-title {
  padding: 8px 0 0 20px;
  font-size: 16px;
  color: white;
  font-weight: 300;
}

.nav-tabs.nav-justified > li > a {
  border: 0;
  border-radius: 0;
}

.nav-tabs.nav-justified > li.active > a,
.nav-tabs.nav-justified > li.active > a:hover,
.nav-tabs.nav-justified > li.active > a:focus {
  border: 0;
}

.tab-content .tab-pane {
  padding: 15px;
}

.nav-pills > li > a {
  cursor: pointer;
}

.nav.nav-sm > li > a {
  padding: 7px 10px;
}

.nav-tabs.tabs-dark {
  background-color: #3f4e62;
}

.nav-tabs.tabs-dark > li > a {
  color: rgba(255, 255, 255, 0.5);
}

.nav-tabs.tabs-dark > li > a:hover,
.nav-tabs.tabs-dark > li > a:focus {
  background-color: #354252;
  color: rgba(255, 255, 255, 0.8);
}

.nav-tabs.tabs-dark > li.disabled > a {
  color: rgba(255, 255, 255, 0.2);
}

.nav-tabs.tabs-dark > li.active > a,
.nav-tabs.tabs-dark > li.active > a:hover,
.nav-tabs.tabs-dark > li.active > a:focus {
  background-color: #2b3543;
  color: white;
}

.tab-container .nav-tabs {
  background-color: white;
}

.tab-container .nav-tabs > li {
  border-right: 1px solid #eaeaea;
}

.tab-container .nav-tabs > li:last-child {
  border-right: 0;
}

.tab-container .nav-tabs > li > a {
  color: #95a2a9;
}

.tab-container .nav-tabs > li > a:hover {
  background-color: #f5f5f5;
}

.tab-container .nav-tabs > li.active > a,
.tab-container .nav-tabs > li.active > a:hover,
.tab-container .nav-tabs > li.active > a:focus {
  color: #4a555b;
}

.tab-container .nav-tabs > li.disabled > a,
.tab-container .nav-tabs > li.disabled > a:hover,
.tab-container .nav-tabs > li.disabled > a:focus {
  color: #cdd3d7;
}

.tab-container .tab-content .tab-pane {
  background-color: white;
}

.tab-nopadding .tab-pane {
  padding: 15px 0;
}

.tab-wizard .nav-tabs > li > a {
  text-align: left;
  padding-left: 30px;
  position: relative;
}

.tab-wizard .nav-tabs > li > a:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 19px solid transparent;
  border-left: 19px solid #f5f5f5;
  border-top: 19px solid transparent;
  top: 1px;
  right: -18px;
  z-index: 6;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.tab-wizard .nav-tabs > li > a:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #f5f5f5;
  border-top: 20px solid transparent;
  top: 0;
  right: -20px;
  z-index: 5;
}

.tab-wizard .nav-tabs > li > a .wizard-step {
  font-size: 14px;
  font-weight: 700;
  padding: 5px 8px;
  border-radius: 50%;
  background-color: #4a555b;
  color: #eaeaea;
  border: 1px solid #eaeaea;
  margin-top: -2px;
  margin-right: -10px;
  width: 26px;
  height: 26px;
  line-height: 14px;
}

.tab-wizard .nav-tabs > li:first-child > a {
  padding-left: 15px;
}

.tab-wizard .nav-tabs > li:last-child > a:after,
.tab-wizard .nav-tabs > li:last-child > a:before {
  display: none;
}

.tab-wizard .nav-tabs > li:last-child > a .wizard-step {
  margin-right: 0;
}

.tab-wizard .nav-tabs > li > a,
.tab-wizard .nav-tabs > li > a:hover,
.tab-wizard .nav-tabs > li > a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f5f5f5;
}

.tab-wizard .nav-tabs > li:after,
.tab-wizard .nav-tabs > li:before {
  content: "";
  position: absolute;
  border: 0;
  width: 100%;
  height: 10px;
  background-color: #798992;
  left: 0;
  margin-left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.tab-wizard .nav-tabs > li:after {
  opacity: .1;
}

.tab-wizard .nav-tabs > li:before {
  background-color: #428bca;
  bottom: -10px;
  opacity: 1;
  -webkit-transition: width 0.8s;
  -moz-transition: width 0.8s;
  transition: width 0.8s;
}

.tab-wizard .nav-tabs > li.active > a:before {
  border-left-color: white;
}

.tab-wizard .nav-tabs > li.active > a .wizard-step {
  background-color: transparent;
  color: #4a555b;
  border-color: #4a555b;
}

.tab-wizard .nav-tabs > li.active > a,
.tab-wizard .nav-tabs > li.active > a:hover {
  background-color: white;
}

.tab-wizard .nav-tabs > li.active:after {
  opacity: 1;
}

.tab-wizard .nav-tabs > li.active:before {
  opacity: 0;
  width: 0;
}

.tab-wizard .nav-tabs > li.disabled > a .wizard-step {
  background-color: transparent;
  color: #eaeaea;
  border-color: #eaeaea;
}

.tab-wizard .nav-tabs > li.active ~ li > a:before {
  border-left-color: white;
}

.tab-wizard .nav-tabs > li.active ~ li > a .wizard-step {
  background-color: transparent;
  color: #eaeaea;
  border-color: #eaeaea;
}

.tab-wizard .nav-tabs > li.active ~ li > a,
.tab-wizard .nav-tabs > li.active ~ li > a:hover {
  background-color: white;
}

.tab-wizard .nav-tabs > li.active ~ li:before {
  opacity: 0;
  width: 0;
}

.tab-wizard .tab-content {
  background-color: white;
}

.tab-wizard .tab-content .tab-pane {
  margin-top: 10px;
}

.tab-wizard .tab-content .pager.wizard {
  margin: 0;
  padding: 0 15px 15px;
}

.tab-wizard .tab-content .pager.wizard > li.disabled > .btn {
  cursor: not-allowed;
  color: #ccc;
  border-color: #eee;
}

.tab-wizard .tab-content .pager.wizard > li.disabled > .btn:hover {
  background-color: white;
}

.tab-wizard .tab-content .pager.wizard > li.previous > .btn {
  float: left;
}

.tab-wizard .tab-content .pager.wizard > li.next > .btn {
  float: right;
}

.tab-animation > .tab-content {
  position: relative;
}

.tab-animation > .tab-content > .tab-pane {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.tab-animation > .tab-content > .tab-pane.active-remove {
  position: absolute;
  top: 0;
  width: 100%;
  display: block;
}

.tab-animation > .tab-content > .tab-pane.active-remove-active {
  opacity: 0;
}

.tab-animation > .tab-content > .tab-pane.active-add {
  opacity: 0;
}

.tabs-right.nav-tabs {
  text-align: right;
}

.tabs-right.nav-tabs > li {
  margin-right: -3px;
  float: none;
  display: inline-block;
}

.tabs-right.nav-tabs > li:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  .nav-tabs.nav-justified > li a {
    margin-bottom: 0;
  }
  .nav-tabs.nav-justified > li:after {
    display: none;
  }
  .nav-tabs > li.tabs-title {
    display: none;
  }
}

.tabs-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabs-menu > li {
  margin-bottom: 1px;
  position: relative;
}

.tabs-menu > li > a {
  display: block;
  background-color: #f7f7f7;
  padding: 10px 15px;
  color: #616f77;
}

.tabs-menu > li > a:hover {
  color: #428bca;
}

.tabs-menu > li.active > a {
  background-color: #428bca;
  color: white;
  font-weight: 700;
}

.tabs-menu > li.active:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #428bca;
  border-top: 6px solid transparent;
  right: -6px;
  top: 15px;
}