@font-face {
  font-family: 'SourceSansPro-Regular';
  src:  url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src:  url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
        url('../fonts/SourceSansPro-Semibold.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src:  url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    min-width: 575px;
}

body, .navbar-nav.navbar-login > li > a,
.source-sans-reg {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.package-plan .feature ul li,
.source-sans-semi {
    font-family: 'SourceSansPro-Semibold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.button, .package-price, .action-btn,
.navbar-nav.navbar-login > li > a strong,
.navbar-nav.navbar-login > li > a span,
.source-sans-bold {
    font-family: 'SourceSansPro-Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

#contact h2, .navbar-nav > li > a,
.ubuntu-bold {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1, h2, h3, h4, .package-name,
.ubuntu-light {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-style: normal;
}

blockquote p,
.opensans-light-italic {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
}


body {
    color: #646974;
    font-size: 16px;
    background: #fff;
    margin: 0;
    -webkit-font-smoothing : antialiased;
    padding-top: 90px;
}

p {
    margin-bottom: 30px;
    line-height: 1.42857143;
}

a {
    color: #666;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a:hover, a:active {
    opacity: .8;
    text-decoration: none;
}

/* Headings */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 36px;
}

h3, h4 {
    font-size: 24px;
    line-height: 30px;
}

/* Common class */
.clear {
    clear: both;
}

.alpha {
    padding-left: 0 !important;
}

.omega {
    padding-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.text-blue {
    color: #0071bc;
}

.text-aqua {
    color: #2da8b7;
}

.text-green {
    color: #5abb30;
}

.text-orange {
    color: #ff911b;
}

.dark {
    color: #fff;
    background: #343841;
}

.light {
    color: #646974;
    background: #fff;
}

.grey {
    color: #646974;
    background: #f6f6f6;
}

.button {
    color: #fff;
    font-size: 22px;
    height: 35px;
    line-height: 35px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button-rounded {
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.button-info,
.button-info:hover {
    color: #fff;
    background: #e38d06;
}

.button-default,
.button-default:hover {
    color: #0269a3;
    background: #fff;
}

.button.button-squared {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 30px;
}
.button.button-squared:hover {
    color: #fff;
}

hr {
    margin-bottom: 0;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

/* Header */
header {
    background: #CCC;
    width: 100%;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(51,51,51,.5);
    -moz-box-shadow: 0px 1px 5px 0px rgba(51,51,51,.5);
    box-shadow: 0px 1px 5px 0px rgba(51,51,51,.5);
    z-index: 99;
}

/* Header Navigation */
.navbar {
    z-index: 99;
}

.navbar-default .navbar-nav > li {
    margin-top: 40px;
    margin-bottom: 25px;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background: #0269a3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav.navbar-login > li > a {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-left: 10px;
}

.navbar-nav.navbar-login > li > a span {
    background: #81af31;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 25px;
    margin-left: 15px;
}

.navbar-brand {
    display: block;
    height: auto;
}

.navbar-brand:hover {
    opacity: 0.7;
}

/* Hero */
#hero {
    background: url('../img/hero-bg.jpg') no-repeat center bottom;
    background-size: cover;
}

#hero h1 {
    margin-top: 50px;
}

#hero .container .button-info {
    margin-top: 30px;
    margin-bottom: 60px;
}

#hero .blue-bar {
    background: #0269a3;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
}

#hero .blue-bar h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#hero .button-squared {
    border: 2px solid #fff;
    margin-left: 40px;
}

/* Main Content */
#about > div {
    padding-top: 70px;
    padding-bottom: 50px;
}

section .heading {
    padding-top: 60px;
    padding-bottom: 40px;
}

section .heading h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

section .heading h2.blue {
    margin-top: 20px;
    color: #0071bc !important;
}

.three-columns .thumbnail {
    margin-bottom: 80px;
}

.three-columns .thumbnail.text-center {
    padding-top: 30px;
}

.three-columns .thumbnail .caption {
    color: #646974;
}

.three-columns .thumbnail h3 {
    color: #37393d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.two-columns .media h4 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.two-columns .media .pull-left {
    margin-right: 20px;
}

.two-columns .media .media-body {
    display: table-cell;
    vertical-align: top;
}

.two-columns .media .label {
    font-size: 65%;
    padding: .2em .6em .3em;
    position: relative;
    top: -4px;
}

blockquote {
    margin: 0;
    border-left: 0;
}

blockquote p {
    font-size: 24px;
    line-height: 36px;
    color: #586371;
    margin-bottom: 40px;
    border-left: none;
}

#feedback {
    padding-top: 100px;
    padding-bottom: 50px;
}

#feedback .author {
    padding-top: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #343841;
}

#feedback .carousel-indicators {
    bottom: -70px;
}

#feedback .carousel-indicators li {
    background-color: #343841;
    border-color: transparent;
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

#feedback .carousel-indicators li.active {
    background-color: #0071bc;
    width: 15px;
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
}

#feedback .carousel-inner {
    margin-bottom: 50px;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    border-radius: 10px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
    display: inline-block;
}

#contact {
    padding-top: 55px;
    padding-bottom: 65px;
    background: url('../img/contact-bg.jpg') no-repeat center bottom;
    background-size: cover;
}

#contact .button-default {
    margin-top: 10px;
}

#feature {
    padding-bottom: 65px;
}

#pricing {
    padding-bottom: 40px;
}

#pricing .heading {
    margin-bottom: -20px;
}

#pricing p.lead {
    display: inline-block;
    max-width: 700px;
    margin-bottom: 50px;
}

.package-plan .package-name {
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    background-color: #2d3139;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.package-plan .package-price {
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    background-color: #343841;
    position: relative;
    color: #fff;
}

.package-plan .package-price:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 6px;
    border-color: #343841 transparent transparent transparent;
    display: inline-block;
    position: absolute;
    margin-left: -6px;
    left: 50%;
    top: 100%;
}

.package-plan .feature {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    min-height: 550px;
}

.package-plan .feature ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.package-plan .feature ul li {
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.package-plan .feature ul li:nth-child(even) {
    background-color: #f5f5f5;
}

.package-plan .action-btn {
    background-color: #81af31;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: block;
    cursor: pointer;
}

.package-plan {
    margin-bottom: 30px;
}

.block-well {
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 10px;
}


/* Footer */
footer {
    background: #2d3139;
    padding: 30px 0 20px;
    color: #6f747e;
    font-size: 14px;
}

footer a {
    color: #6f747e;
}

footer a:hover {
    color: #e5e5e5;
}

footer .fa-circle {
    color: #585d67;
}

footer .fa-stack {
    font-size: 16px;
}

footer .footer-nav,
footer .social-nav {
    display: inline-block;
}

footer .social-nav {
    margin-left: 30px;
}

footer .pull-right {
    text-align: right;
}

footer .footer-nav span {
    font-size: 27px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 14px;
    position: relative;
    top: 2px;
}

footer .logo-wrap {
    position: relative;
    margin-bottom: -15px;
}

footer .logo-wrap:before {
    content: '';
    display: block;
    top: 49%;
    border-top: 1px solid #3b4049;
    position: absolute;
    width: 100%;
    z-index: 0;
}

footer .logo-wrap img {
    position: relative;
    z-index: 9;
}

/* Back to top */
.back-to-top {
    border-radius: 5px;
    text-align: center;
    background: #000;
    color: #fff;
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
    z-index: 9999;
}
.back-to-top:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

/* Jquery appear */
.hiding {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* Preloader */
#mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #F6F6F6;
    z-index: 10000;
    height: 100%;
}

#loader {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/* Mobile device */
@media (max-width: 767px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    body .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-fixed-top {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }
    .navbar-fixed-top .navbar-inner  > .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .row > .pull-right {
        float: none !important;
    }

    #hero .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    #hero .button-squared {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 180px;
        margin-top: 20px;
    }

    #about .span6 {
        text-align: center;
    }

    #about .span6.pull-right {
        float: none !important;
    }

    .three-columns .thumbnail {
        margin-bottom: 30px;
    }

    #benefit, #feature {
        padding-bottom: 40px;
    }

    .package-plan,
    .three-columns .thumbnail,
    .two-columns .media {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }

    .package-plan .feature {
        min-height: 0;
    }

    footer {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    footer .logo-wrap {
        margin-bottom: 0;
    }

    footer .pull-right {
        float: none !important;
        text-align: center;
    }

    footer .pull-left {
        float: none !important;
    }

    footer .copyright {
        text-align: center;
    }

    footer .footer-nav {
        margin-top: 10px;
    }

    footer .social-nav {
        display: block;
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 7px;
    }


}

/* Custom mobile */
@media (max-width: 400px) {
    .navbar-brand > img {
        width: 180px;
        height: auto !important;
        margin-top: 5px;
    }

    .navbar-nav.navbar-login > li span {
        margin-top: 10px !important;
        margin-left: 0px !important;
        display: inline-block !important;
    }
}

/* Tablet device */
@media (min-width: 768px) {

}

@media (max-width: 995px) {
    body {
        padding-top: 75px;
    }

    .navbar.navbar-fixed-top {
        position: fixed !important;
    }
    .navbar-fixed-top .navbar-inner {
        padding: 0;
    }
    .navbar-fixed-top .navbar-inner .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blue-bar h2 {
        font-size: 24px;
    }

    .blue-bar .button {
        font-size: 18px;
    }

    #pricing .span4 {
        width: 100%;
        margin-left: 0;
    }

    .package-plan {
        max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 70px;
    }

    .package-plan .feature {
        min-height: 0;
    }

    footer .logo-wrap {
        margin-bottom: 0;
    }

    .navbar-brand > img {
        height: 45px;
    }

    .navbar-nav.navbar-login > li > a {
        border-left: none;
        margin-left: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent !important;
        font-size: 20px;
        padding: 9px 15px;
        color: #fff;
        background: #0074d9;
        margin-top: 25px;
        /*margin-bottom: 12px;*/
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #0074d9;
        opacity: 0.8;
    }

    .navbar-default .navbar-nav>.active>a:hover {
        background: rgb(63, 169, 245);
    }

    /* Navigation mobile appear earlier */
    .navbar-default .navbar-collapse {
        margin-left: 0;
        margin-right: 0;
        /*background: #fff;*/
        padding: 10px 0;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-nav {
        float: none !important;
        margin: 0;
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-default .navbar-nav > li {
        float: none;
        margin-top: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 5px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    /* End Navigation */
}

/* Desktop small screen */
@media (min-width: 995px) and (max-width: 1199px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
    }
    .navbar-nav.navbar-login > li > a {
        padding-left: 10px;
        margin-left: 0;
        padding-right: 0;
    }
    .navbar-brand>img {
        height: 45px;
        /*margin-top: 8px;*/
    }
}

/* Desktop large screen */
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}


#terms { font-size: 12px; }
#terms .nolist { list-style-type: none; padding: 0px; margin: 0px; padding-left: 4px; }
#terms .nolist li{ padding-bottom: 4px; margin: 0px; }


/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/

/*===============================================*/
/*== 5 col for bootstrap ========================*/
/*===============================================*/
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}
.col-xs-offset-2-5ths {
    margin-left: 40%;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
    .col-sm-offset-2-5ths {
        margin-left: 40%;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
    .col-md-offset-2-5ths {
        margin-left: 40%;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
    .col-lg-offset-2-5ths {
        margin-left: 40%;
    }
}
/*===============================================*/
/*== Main Page ==================================*/
/*===============================================*/
body,
#main section {
    background-color: #2d3139;
}
input.custom-button {
    transition: all 0.5s ease;
}
/*=== Plans Table ================*/
.new-style .navbar-default {
    background: url('../img/new_design/header_100.png') no-repeat center bottom;
    border: none;
    margin-bottom: 0px;
}
.navbar-nav.navbar-login > li > a {
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 20px;
    padding: 10px 30px;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {

}
.login-btn .custom-button {
    height: 50px;
    width: 155px;
    margin: 0 auto;
}
.navbar-default .navbar-nav .sign-in-btn .custom-button {
    padding: 15px 50px;
    font-size: 18px;
}
.navbar-default .navbar-nav .signed-in-btn .custom-button {
    padding: 15px 43px;
    font-size: 18px;
}
.navbar-default .navbar-nav > li {
    margin-top: 30px;
}
.navbar-default .navbar-nav.navbar-login li {
    margin-top: 25px;
}
.navbar-default .navbar-nav.navbar-login>li>a:hover {
    background-color: #0074d9;
}
/*================================*/
/*===  ================*/
#hero {
    background: none;
    margin-top: 10px;
    /*height: 1075px;*/
}
#hero h1 {
    margin-top: 70px;
    font-weight: bold;
    font-size: 54px;
}
.main-wrapper {
    width: 1600px;
    margin: auto;
}
.main-bg {
    background: url(../img/new_design/main_1100.png) no-repeat center top;
    border-bottom-left-radius: 800px 100px;
    border-bottom-right-radius: 800px 100px;
}
.main-label {
    margin-top: 45px;
    text-align: center;
    font-size: 25px;
    color: #8dc3ea;
}
.main-form {
    margin-top: 30px;
    text-align: center;
}
.main-form input {
    height: 60px;
    width: 440px;
    margin: auto;
    padding: 6px 25px;
    font-size: 22px;
}
.main-cover {
    background: url(../img/new_design/cover.png) no-repeat center top;
    /*margin-top: -100px;*/
    height: 100px;
    position: relative;
    background-size: contain;
    bottom: 52px;
}
.screenshot {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.2);
}
#details .screenshot {
    display: none;
}
#screenshot-1 {
    margin-bottom: -30px;
    background-color: #fff;
}

.container-header {
    text-align: center;
    margin: 100px 0 0;
    color: #fff;
}
.features .container-header {
    color: #646974;
}
.features .container-header h2 {
    color: #3fa9f5;
}
#hero .custom-button {
    margin: 55px 0 100px;
    height: 60px;
    font-size: 20px;
    padding: 0px 70px 0;
    border-width: 0;
}
.blue-bar .custom-button {
    height: 60px;
    width: 200px;
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 12px 30px 0;
}

.custom-img-button {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-size: 16px;
    height: 72px;
    width: 400px;
    border-radius: 35px;
    font-size: 20px;
    padding: 12px 40px;
    color: #3fa9f5;
    background: #fff;
}
a.custom-img-button:hover,
a.custom-img-button:visited,
a.custom-img-button:active {
    background-color: #f4f9fc;
    text-decoration: none;
    color: #3fa9f5;
}
a.custom-img-button.active {
    background-color: #f4f9fc;
    text-decoration: none;
    color: #3fa9f5;
}
.custom-img-button img {
    margin-right: 40px;
}
.detail-wrapper .detail-links {
    width: 410px;
    margin: 0 auto;
}
.detail-wrapper .custom-img-button {
    margin-top: 20px;
}

.custom-button.button-info {
    color: #fff;
    background: #0074d9;
}
.custom-button.button-white {
    color: #8f8fd3;
    background: #fff;
}
.custom-button.button-white2 {
    color: #3fa9f5;
    background: #fff;
}

.img-overflow {
    height: 480px;
    width: 700px;
    /*background: url(../img/new_design/main-scr2.png) no-repeat center left;*/
}
.img-overflow .detail-img {
    display: none;
    cursor: pointer;
    width: 800px;
}
.img-overflow .detail-img:first-child{
    display: block;
}

#about .main-wrapper,
.substrate {
    background-color: #f4f9fc;
}
.info-img {
    float: left;
}
.info-text {
    float: left;
    width: 420px;
    margin-left: 40px;
}
.info-text-header {
    margin-top: 0;
}
.info-text-body {}

#about .blue-bar {
    background: #3fa9f5;
    background: -moz-linear-gradient(top, #3fa9f5 0%, #2987c6 100%);
    background: -webkit-linear-gradient(top, #3fa9f5 0%,#2987c6 100%);
    background: linear-gradient(to bottom, #3fa9f5 0%,#2987c6 100%);

    height: 200px;
}
#about > div {
    padding: 0;
}
#about .blue-bar h2 {
    color: #fff;
    font-size: 32px;
}
#about .blue-bar .container {
    padding-top: 10px;
}
.container.features .row.mb-100 {
    margin-bottom: 100px;
}
.container.details {
    padding-top: 100px;
    padding-bottom: 100px;
}
.detail-container {
    margin-top: 100px;
    padding-left: 40px;
    color: #0479bb;
}
.detail-container h3{
    color: #3fa9f5;
}
.detail-container .detail-text{
    display: none;
}
.detail-container .detail-text:first-child{
    display: block;
}
.detail-container .detail-body{
    font-size: 20px;
}
.almost-white {
    background-color: #f4f9fc;
}
.white {
    background-color: #fff;
}
.test {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 1600px) {
    .test {
        width: 100%;
        margin: 0;
    }
}
/*=== Switcher ===================*/
.plan-switcher {
    margin: 80px auto 0;
    width: 300px;
    border: 1px solid #4fcc54;
    padding: 3px;
    border-radius: 40px;
}
.button-switcher {
    height: 60px;
    width: 144px;
    display: block;
    color: #4fcc54;
    padding: 10px 20px;
}
.button-switcher:hower {

}
.button-switcher.active {
    color: #fff;
    text-decoration: none;
    border: 1px solid #4fcc54;
    background: #00ab91;
    background: -moz-linear-gradient(top, #00ab91 0%, #58d04e 100%);
    background: -webkit-linear-gradient(top, #00ab91 0%,#58d04e 100%);
    background: linear-gradient(to bottom, #00ab91 0%,#58d04e 100%);
}
.button-switcher .switcher-price-type {
    line-height: 10px;
    margin-top: 7px;
}
#annual {
    padding: 4px 10px;
    font-size: 20px;
}
/*================================*/
/*=== Plans Table ================*/
.plan-table {
    margin: 80px auto;
    color: #000;
    /*width: 570px;*/ /* with Agency plan*/
    width: 485px;
}
.pt-item {
    float: left;
    width: 88px;
    margin-top: 30px;
}
.pt-item-first .pti-cell {
    border-left: none;
}
.pt-item-first .pti-cell:first-child {
    border-top-left-radius: 10px;
}
.pt-item-first .pti-cell:last-child {
    border-bottom-left-radius: 10px;
}
.pt-item-last .pti-cell:first-child {
    border-top-right-radius: 10px;
}
.pt-item-last .pti-cell:last-child {
    border-bottom-right-radius: 10px;
}
.pt-item-label {
    width: 108px;
}
.pt-item-label .pti-cell {
    text-align: left;
    font-size: 14px;
    padding: 1px 0 0 10px;

}
.pt-item-main {
    width: 110px;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
}
.pt-item-main .pti-cell {
    background-color: #fff;
    border-left: none;
}
.pt-item-main .pti-cell-header {
    height: 70px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: #00ab91;
    background: -moz-linear-gradient(top,  #00ab91 0%, #58d04e 100%);
    background: -webkit-linear-gradient(top,  #00ab91 0%,#58d04e 100%);
    background: linear-gradient(to bottom,  #00ab91 0%,#58d04e 100%);
}
.pt-item-main .pti-cell-btn {
    height: 80px;
    padding-top: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.pt-item-main + .pt-item .pti-cell {
    border-left: none;
}

.pti-cell {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
    background-color: #f7f7f7;
    border-left: 1px solid #d8e8f2;
    border-top: 1px solid #d8e8f2;
    opacity: 0.96;
}
.pti-cell-header {
    background-color: #3fa9f5;
    height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.1px;
    text-align: center;
    padding-top: 13px;
    border: none;
}
.pt-item-main .pti-cell-header {
    font-size: 28px;
    padding-top: 18px;
}
.pti-cell-price {
    height: 120px;
    padding: 16px 0;
    text-align: center;
    font-size: 14px;
}
.pti-cell-price .badge{
  background: #3fa9f5 !important;
}
.price-wrapper .pti-cell-price {
    display: none;
}
.price-wrapper .pti-cell-price.active {
    display: block;
}
.pt-item-label .pti-cell-price {
    padding: 30px 10px;
}
.pti-cell-btn {
    height: 60px;
    border-top: none;
}
.pti-cell-price .price-line {
    display: inline-block;
}
.pti-cell-price .price-value {
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #0269a3;
}
.pti-cell-price .price-period {
    float: left;
    padding: 6px 0 0 1px;
}
.pt-item-main .pti-cell-price .price-period {
    float: left;
    padding-top: 8px;
}
.pti-cell-price .price-period .period-full{
    display: none;
}
.pti-cell-price .price-type {
    clear: both;
    font-size: 13px;
}
.pti-cell-price .price-free {
    font-size: 20px;
    font-weight: bold;
    color: #0269a3;
    padding-top: 12px;
}
.pt-item-main .pti-cell-price .price-value {
    color: #58d04e;
    font-size: 20px;
}

.plan-table .pt-item .pti-cell .fa-check-circle {
    color: #39b54a;
}
.plan-table .pt-item.pt-item-main .pti-cell .fa-check-circle {
    color: #58d04e;
}
.plan-table .pt-item .pti-cell .fa-times-circle {
    color: #a9a9a9;
}

.plan-table .pt-item .pti-cell .button {
    color: #fff;
    font-family: 'SourceSansPro-Regular', sans-serif;
    background-color: #3fa9f5;
    font-size: 14px;
    height: 33px;
    width: 78px;
    padding: 0;
}
.plan-table .pt-item.pt-item-main .pti-cell .button {
    background-color: #58d04e;
    font-size: 16px;
    font-weight: bold;
    padding-top: 0px;
    height: 36px;
    width: 96px;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
}
.molecule {
    background: url(../img/new_design/table-bg.png) no-repeat center left;
    background-color: #fff;
    border-bottom-left-radius: 800px 200px;
    border-bottom-right-radius: 800px 200px;
    margin-bottom: -770px;
    position: relative;
    height: 790px
}
/*================================*/
/*=== Feedback Carousel ==========*/
#feedback {
    padding: 0;
    color: #fff;
}
#feedback .container-header {
    margin-bottom: 50px;
}
#feedback .test {
    background: #3fa9f5;
    background: -moz-linear-gradient(top, #3fa9f5 0%, #2987c6 100%);
    background: -webkit-linear-gradient(top, #3fa9f5 0%,#2987c6 100%);
    background: linear-gradient(to bottom, #3fa9f5 0%,#2987c6 100%);
}
#feedback .carousel-inner {
    margin-bottom: 60px;
}
#feedback blockquote {
    margin-bottom: 50px;
}
#feedback blockquote p{
    color: #fff;
}
#feedback .author {
    padding: 7px 0 0px 30px;
    font-size: 22px;
    line-height: 22px;
    color: #fff;
    text-align: left;
}
#feedback .author p {
    margin-top: 6px;
}
#feedback .carousel-indicators li {
    background-color: #0071bc;
    width: 10px;
    height: 10px;
}
#feedback .carousel-indicators li.active {
    background-color: #fff;
    width: 10px;
    height: 10px;
}
.container.feedback {
    padding-bottom: 60px;
}
.author-info {
    width: 272px;
    margin: auto;
}
.author-info .author {
    float: left;
}
.author-img {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    overflow: hidden;
    float: left;
}
.author-img img {
    width: 70px;
    height: 70px;
}
/*================================*/
/*=== Secure Money-back ==========*/
.baners {
    margin-top: 80px;
}
.secure-container img,
.money-back-container img{
    margin: 0 auto;
}
#pricing {
    padding-bottom: 0;
}
.green-purple {
    background: #78ddc6;
    background: -moz-linear-gradient(top,  #78ddc6 0%, #78ddc6 40%, #9356ef 100%);
    background: -webkit-linear-gradient(top,  #78ddc6 0%,#78ddc6 40%,#9356ef 100%);
    background: linear-gradient(to bottom,  #78ddc6 0%,#78ddc6 40%,#9356ef 100%);
}
/*================================*/
/*=== FAQ ========================*/
.container.faq {
    color: #fff;
}
.faq .panel-group {
    margin-top: 50px;
}
.faq .panel,
.faq .panel-default > .panel-heading,
.faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background: none;
    border: none;
    box-shadow: none;
    font-size: 20px;
}
.faq .panel-default > .panel-heading {
    padding: 30px;
}
.faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    padding-right: 70px;
    padding-left: 100px;
}
.faq .panel.panel-default {
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}
.faq .panel-title {
    font-size: 26px;
    color: #fff;
}
.faq .panel-title a {
    text-decoration: none;
}


.contact {
    color: #fff;
    margin-bottom: 70px;
}
.contact h3{
    margin-top: 10px;
}
.contact .pull-left {
    /*padding-top: 20px;*/
}
.contact .custom-button {
    font-family: 'SourceSansPro-Regular', sans-serif;
    height: 50px;
    padding: 7px 35px;
    font-size: 18px;
    color: #fff;
    background: #3fa9f5;
}
.contact .container-header {
    margin-top: 60px;
}
.contact .row:last-child {
    margin-top: 40px;
}

/*===============================================*/
/*== Subscription Page ==========================*/
/*===============================================*/
#wrap {
    background: url(../img/new_design/main_1100.png) no-repeat center top;
    margin-top: 10px;
    padding: 30px 0 120px;
    min-height: 970px;
}
#wrap #main {
    margin-top: 50px;
}
/*=== features ===================*/
#sign-in-additional-info {
    display: none;
}
.container-features {
    color: #fff;
}
.container-features .row {
    margin-bottom: 50px;
}
.container-features .row:last-child {
    margin-bottom: 0px;
}
.container-features .features-header {
    margin-top: 30px;
    text-align: left;
}
.feature-wrapper {
    width: 170px;
    text-align: center;
    /*margin: 0 auto;*/
}
.feature-wrapper p {
    font-size: 18px;
    margin: 30px 0 0;
}
.features-footer p {
    font-size: 18px;
    margin:  0;
}
/*================================*/
/*=== Subscription Form ==========*/
.panel.panel-custom {
    border-radius: 10px;
}
.panel.panel-custom.panel-110{
    width: 100%;
}
.panel.panel-custom .panel-heading,
.panel.panel-custom .panel-body {
    background-color: #ececed;
    border: 0;
}
.panel.panel-custom .panel-heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.panel.panel-custom .panel-body {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 30px 50px;
}
.panel.panel-custom .panel-title {
    color: #3fa9f5;
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
}


.form-custom .form-group {
    margin-bottom: 30px;
}
.form-group-center {
    text-align: center;
}
.form-custom .form-group-center {
    margin: 70px 0 10px;
}
.form-custom .form-control {
    height: initial;
    padding: 10px 20px;
    border: 1px solid #0071bc;
    font-size: 18px;
}
.form-custom label {
    color: #0269a3;
    font-size: 18px;
    margin-bottom: 15px;
}
.form-custom .custom-button {
    font-family: 'SourceSansPro-Regular', sans-serif;
    background-color: #3fa9f5;
    font-size: 18px;
    color: #fff;
    height: 50px;
    width: 200px;
    padding: 0px 30px;
    border: none;
    -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
}
.form-custom .custom-button:hover {
    opacity: 0.8;
}
.sign-in-container,
.sign-up-container {
    text-align: center;
    color: #fff;
    margin-top: 40px;
    font-size: 18px;
}
.sign-in-container {
    width: 100%;
}
.sign-in-container a,
.sign-up-container a {
    color: #99d4ff;
}
.sign-in-container p,
.sign-up-container p {
    margin-bottom: 5px;
}
.forgot-pass-container a {
    color: #3fa9f5;
    font-size: 18px;
}
.form-group-text {
    color: #3fa9f5;
    font-size: 17px;
}
.forgot-pass-container + .form-group-center {
    margin-top: 50px;
}

#wrap #main.container-contact {
    margin-top: 0;
}
.container-contact .panel.panel-custom .panel-body {
    border-radius: 10px;
}
.container-contact .form-custom .form-group-center  {
    margin-top: 50px;
}

.navbar-collapse {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.navbar-collapse.collapse.in,
.navbar-collapse.collapsing,
.navbar-collapse.collapse.in .navbar-nav > li,
.navbar-collapse.collapsing .navbar-nav > li {
    background-color: #3c383c;
    border: none;
}

.bottom-text-right {
    text-align: center;
}

/* Image Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: 100px auto 0;
    display: block;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
@media only screen and (max-width: 1080px){
    .modal-content {
        width: 96%;
    }
}

/*================================*/
/*=== Media ======================*/
@media (max-width: 995px) {
    #hero,
    #wrap {
        margin-top: 5px;
    }
    .new-style .navbar-default {
        height: 80px;
    }
    .navbar-brand {
        margin-top: 4px;
        margin-bottom: 0;
    }
    .navbar-collapse {
        text-align: center;
    }
    .navbar-default .navbar-nav > li,
    .navbar-default .navbar-nav.navbar-login li {
        margin-top: 0;
    }
}

@media (min-width: 480px) {
    .info-text {
        width: 370px;
    }
    .info-wrapper {
        width: 500px;
        margin: 0 auto;
    }
    #details .row {
        height: 670px;
    }
    .container.details {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #feedback .carousel-inner {
        height: 500px;
    }
}

@media (min-width: 768px) {
    .info-text {
        width: 200px;
    }
    .info-wrapper {
        width: 100%;
        margin: 0;
    }
    .row.mb-xs-0 {
        margin-bottom: 100px;
    }
    #about h2 {
        margin-top: 0;
    }
    #about .blue-bar .container {
        padding-top: 70px;
    }
    #details .screenshot {
        display: block;
    }
    .detail-wrapper .detail-links {
        margin: 0;
    }
    .bottom-text-right {
        text-align: right;
    }
    #details .row {
        height: 870px;
    }
    .container.details {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #feedback .carousel-inner {
        height: 430px;
    }
}

@media (min-width: 850px) {
    /*================================*/
    /*=== Plans Table ================*/
    .plan-table {
        margin: 80px auto;
        color: #000;
        /*width: 810px;*/ /* with Agency plan*/
        width: 690px;
    }
    .pt-item {
        float: left;
        width: 120px;
        margin-top: 30px;
    }
    .pt-item-first .pti-cell {
        border-left: none;
    }
    .pt-item-first .pti-cell:first-child {
        border-top-left-radius: 10px;
    }
    .pt-item-first .pti-cell:last-child {
        border-bottom-left-radius: 10px;
    }
    .pt-item-last .pti-cell:first-child {
        border-top-right-radius: 10px;
    }
    .pt-item-last .pti-cell:last-child {
        border-bottom-right-radius: 10px;
    }
    .pt-item-label {
        width: 190px;
    }
    .pt-item-label .pti-cell {
        text-align: left;
        font-size: 14px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .pt-item-main {
        width: 140px;
        margin-top: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    }
    .pt-item-main .pti-cell {
        background-color: #fff;
        border-left: none;
    }
    .pt-item-main .pti-cell-header {
        height: 90px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #00ab91;
        background: -moz-linear-gradient(top,  #00ab91 0%, #58d04e 100%);
        background: -webkit-linear-gradient(top,  #00ab91 0%,#58d04e 100%);
        background: linear-gradient(to bottom,  #00ab91 0%,#58d04e 100%);
    }
    .pt-item-main .pti-cell-btn {
        height: 90px;
        padding-top: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .pt-item-main + .pt-item .pti-cell {
        border-left: none;
    }

    .pti-cell {
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 17px;
        padding: 10px 0px;
        background-color: #f7f7f7;
        border-left: 1px solid #d8e8f2;
        border-top: 1px solid #d8e8f2;
        opacity: 0.96;
    }
    .pti-cell-header {
        background-color: #3fa9f5;
        height: 60px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-align: center;
        padding-top: 15px;
        border: none;
    }
    .pt-item-main .pti-cell-header {
        font-size: 32px;
        padding-top: 25px;
    }
    .pti-cell-price {
        height: 100px;
        padding: 16px 0;
        text-align: center;
        font-size: 14px;
    }
    .price-wrapper .pti-cell-price {
        display: none;
    }
    .price-wrapper .pti-cell-price.active {
        display: block;
    }
    .pt-item-label .pti-cell-price {
        padding: 30px 15px;
    }
    .pti-cell-btn {
        height: 70px;
        border-top: none;
    }
    .pti-cell-price .price-line {
        display: inline-block;
    }
    .pti-cell-price .price-value {
        float: left;
        font-size: 18px;
        font-weight: bold;
        color: #0269a3;
    }
    .pti-cell-price .price-period {
        float: left;
        padding: 7px 0 0 3px;
    }
    .pti-cell-price .price-period .period-full{
        display: block;
    }
    .pti-cell-price .price-period .period-short{
        display: none;
    }
    .pti-cell-price .price-type {
        clear: both;
        font-size: 14px;
    }
    .pti-cell-price .price-free {
        font-size: 22px;
        font-weight: bold;
        color: #0269a3;
        padding-top: 10px;
    }
    .pt-item-main .pti-cell-price .price-value {
        color: #58d04e;
        font-size: 20px;
    }

    .plan-table .pt-item .pti-cell .fa-check-circle {
        color: #39b54a;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .fa-check-circle {
        color: #58d04e;
    }
    .plan-table .pt-item .pti-cell .fa-times-circle {
        color: #a9a9a9;
    }

    .plan-table .pt-item .pti-cell .button {
        color: #fff;
        font-family: 'SourceSansPro-Regular', sans-serif;
        background-color: #3fa9f5;
        font-size: 16px;
        height: 35px;
        width: 100px;
        padding: 0;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .button {
        background-color: #58d04e;
        font-size: 18px;
        font-weight: bold;
        padding-top: 4px;
        height: 45px;
        width: 120px;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    }
    .molecule {
        background: url(../img/new_design/table-bg.png) no-repeat center left;
        background-color: #fff;
        border-bottom-left-radius: 800px 200px;
        border-bottom-right-radius: 800px 200px;
        margin-bottom: -770px;
        position: relative;
        height: 790px
    }
}

@media (min-width: 992px) {
    .info-text {
        width: 300px;
    }
    .blue-bar .custom-button {
        padding: 12px 65px 0;
    }
    .blue-bar .custom-button {
        width: 270px;
    }
    .baners {
        margin-top: 40px;
    }
    .secure-container {
        padding-left: 40px;
    }
    .secure-container img{
        float: left;
    }
    .money-back-container {
        padding-right: 40px;
    }
    .money-back-container img{
        float: right;
    }
    .panel.panel-custom.panel-110{
        width: 110%;
    }
    #sign-in-additional-info {
        display: block;
    }
    .sign-in-container {
        width: 110%;
    }
    #details .row {
        height: 760px;
    }
    .container.details {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    #feedback .carousel-inner {
        height: 360px;
    }
}

@media (min-width: 1200px) {
    .info-text {
        width: 400px;
    }
    #about h2 {
        margin-bottom: 40px;
        margin-top: 15px;
    }
    #details .row {
        height: 700px;
    }
    .container.details {
        padding-top: 100px;
        padding-bottom: 150px;
    }
    #feedback .carousel-inner {
        height: 330px;
    }
    /*================================*/
    /*=== Plans Table ================*/
    .plan-table {
        margin: 80px auto;
        color: #000;
        /*width: 1040px;*//* with Agency plan */
        width: 890px;
    }
    .pt-item {
        float: left;
        width: 150px;
        margin-top: 30px;
    }
    .pt-item-first .pti-cell {
        border-left: none;
    }
    .pt-item-first .pti-cell:first-child {
        border-top-left-radius: 10px;
    }
    .pt-item-first .pti-cell:last-child {
        border-bottom-left-radius: 10px;
    }
    .pt-item-last .pti-cell:first-child {
        border-top-right-radius: 10px;
    }
    .pt-item-last .pti-cell:last-child {
        border-bottom-right-radius: 10px;
    }
    .pt-item-label {
        width: 250px;
    }
    .pt-item-label .pti-cell {
        text-align: left;
        font-size: 16px;
        padding-left: 30px;
    }
    .pt-item-main {
        width: 190px;
        margin-top: 0;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 10px 12px 0px rgba(0,0,0,0.1);
    }
    .pt-item-main .pti-cell {
        background-color: #fff;
        border-left: none;
    }
    .pt-item-main .pti-cell-header {
        height: 90px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: #00ab91;
        background: -moz-linear-gradient(top,  #00ab91 0%, #58d04e 100%);
        background: -webkit-linear-gradient(top,  #00ab91 0%,#58d04e 100%);
        background: linear-gradient(to bottom,  #00ab91 0%,#58d04e 100%);
    }
    .pt-item-main .pti-cell-btn {
        height: 100px;
        padding-top: 20px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .pt-item-main + .pt-item .pti-cell {
        border-left: none;
    }

    .pti-cell {
        width: 100%;
        height: 50px;
        text-align: center;
        font-size: 19px;
        padding: 13px 0px;
        background-color: #f7f7f7;
        border-left: 1px solid #d8e8f2;
        border-top: 1px solid #d8e8f2;
        opacity: 0.96;
    }
    .pti-cell-header {
        background-color: #3fa9f5;
        height: 60px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1.1px;
        text-align: center;
        padding-top: 15px;
        border: none;
    }
    .pt-item-main .pti-cell-header {
        font-size: 32px;
        padding-top: 25px;
    }
    .pti-cell-price {
        height: 115px;
        padding: 16px 0;
        text-align: center;
        font-size: 16px;
    }
    .price-wrapper .pti-cell-price {
        display: none;
    }
    .price-wrapper .pti-cell-price.active {
        display: block;
    }
    .pt-item-label .pti-cell-price {
        padding: 30px;
    }
    .pti-cell-btn {
        height: 70px;
        border-top: none;
    }
    .pti-cell-price .price-line {
        display: inline-block;
        margin-bottom: 8px;
    }
    .pti-cell-price .price-value {
        float: left;
        font-size: 21px;
        font-weight: bold;
        color: #0269a3;
    }
    .pti-cell-price .price-period {
        float: left;
    }
    .pt-item-main .pti-cell-price .price-period {
        padding-top: 12px;
    }
    .pti-cell-price .price-type {
        clear: both;
        font-size: 16px;
        color: #999;
    }
    .pti-cell-price .price-free {
        font-size: 26px;
        font-weight: bold;
        color: #0269a3;
        padding-top: 10px;
    }
    .pt-item-main .pti-cell-price .price-value {
        color: #58d04e;
        font-size: 25px;
    }

    .plan-table .pt-item .pti-cell .fa-check-circle {
        color: #39b54a;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .fa-check-circle {
        color: #58d04e;
    }
    .plan-table .pt-item .pti-cell .fa-times-circle {
        color: #a9a9a9;
    }

    .plan-table .pt-item .pti-cell .button {
        color: #fff;
        font-family: 'SourceSansPro-Regular', sans-serif;
        background-color: #3fa9f5;
        font-size: 16px;
        height: 35px;
        width: 120px;
        padding: 0 10px;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .button {
        background-color: #58d04e;
        font-size: 18px;
        font-weight: bold;
        padding-top: 4px;
        height: 45px;
        width: 150px;
        -webkit-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        -moz-box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
        box-shadow: 0px 10px 15px 0px rgba(76,21,118,0.2);
    }
    .molecule {
        background: url(../img/new_design/table-bg.png) no-repeat center left;
        background-color: #fff;
        border-bottom-left-radius: 800px 200px;
        border-bottom-right-radius: 800px 200px;
        margin-bottom: -860px;
        position: relative;
        height: 860px
    }
}

/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        min-width: 320px;
    }

    #hero h1 {
        margin-top: 50px;
        font-size: 24px;
    }
    .main-label {
        font-size: 14px;
    }
    .main-form input {
        width: 100%;
        font-size: 14px;
        height: 36px;
    }
    #hero .container .button-info {
        margin-top: 20px;
        margin-bottom: 60px;
    }
    #hero .custom-button {
        height: 40px;
        font-size: 15px;
        padding: 0px 20px 0;
        border-width: 0;
    }
    .container.features .row.mb-100 {
        margin-bottom: 50px;
    }
    .container-header {
        margin: 50px 0 0;
    }
    .container-header h2 {
        font-size: 20px;
    }
    .features .container-header {
        font-size: 14px;
    }
    .features .container-header h2 {
        font-size: 24px;
    }
    .info-img img {
        width: 50px;
    }
    .info-text {
        width: 70%;
        margin-left: 20px;
    }
    .info-text-header {
        font-size: 20px;
    }
    .info-text-body {
        font-size: 14px;
    }

    #about .blue-bar {
        height: 180px;
    }
    #about .blue-bar h2 {
        font-size: 20px;
    }
    .blue-bar .custom-button {
        height: 50px;
        width: 180px;
        margin: 10px auto 0;
        font-size: 18px;
        padding: 7px 30px 0;
    }

    .detail-wrapper .detail-links {
        width: 240px;
    }
    .container.details {
        padding: 40px 15px 0;
    }
    .custom-img-button {
        height: 40px;
        width: 240px;
        font-size: 15px;
        padding: 0px 22px;
    }
    .detail-wrapper .custom-img-button {
        margin-top: 5px;
    }
    .custom-img-button img {
        margin-right: 15px;
        width: 25px;
    }
    .detail-container {
        margin-top: 0;
        padding-left: 0;
    }
    .detail-container h3 {
        font-size: 18px;
        margin-top: 15px;
    }
    .detail-container .detail-body {
        font-size: 14px;
    }
    .detail-container .detail-body p {
        margin-bottom: 10px;
    }
    #feedback .container-header {
        margin: 30px 0 0;
    }
    #feedback .container-header h2 {
        font-size: 20px;
        margin-bottom: 0px;
    }
    blockquote p {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 10px;
    }
    #feedback blockquote {
        margin-bottom: 10px;
    }
    .author-info {
        width: 200px;
    }
    .author-img,
    .author-img img {
        width: 50px;
        height: 50px;
    }
    #feedback .author {
        padding: 0 0 0 17px;
        font-size: 17px;
        line-height: 16px;
    }
    #feedback .author p {
        margin-bottom: 5px;
    }
    #feedback .carousel-indicators {
        position: relative;
        top: 400px;
        height: 0px
    }
    .container.feedback {
        padding-bottom: 15px;
        height: 490px;
    }

    .plan-switcher {
        margin: 20px auto 0;
        width: 170px;
    }
    .button-switcher {
        height: 40px;
        width: 80px;
        font-size: 14px;
        padding: 2px 0px;
    }
    #annual {
        padding: 0;
        font-size: 14px;
        line-height: 20px;
    }

    .plan-table {
        width: 100%;
        margin: 10px auto;
    }
    .pt-item {
        width: 15%;
    }
    .pt-item-label {
        /*width: 22%;*/ /* with Agency plan*/
        width: 37%;
    }
    .pt-item-main {
        width: 18%;
        margin-top: 15px;
    }
    .molecule {
        margin-bottom: -530px;
        height: 530px;
    }
    .pt-item-label .pti-cell {
        text-align: left;
        font-size: 10px;
        padding: 0px 2px;
    }
    .pti-cell {
        height: 35px;
        font-size: 10px;
        padding: 10px 0px;
    }
    .pti-cell-price {
        text-align: center;
        font-size: 14px;
        height: 52px;
        padding: 10px 0;
    }
    .pti-cell-price .price-free {
        font-size: 15px;
    }
    .pti-cell-price .price-value {
        font-size: 10px;
    }
    .pti-cell-price .price-period {
        font-size: 8px;
        padding: 4px 0 0 1px;
    }
    .pti-cell-price .price-type {
        font-size: 7px;
    }
    .pti-cell-header {
        font-size: 10px;
        height: 28px;
    }
    .pt-item-main .pti-cell-price .price-value {
        font-size: 13px;
    }
    .pt-item-label .pti-cell-price {
        padding: 20px 3px;
    }
    .pt-item-main .pti-cell-header {
        font-size: 16px;
        padding-top: 12px;
        height: 43px;
    }
    .pti-cell-btn {
        padding: 0;
        height: 30px;
    }
    .pt-item-main .pti-cell-btn {
        height: 40px;
        padding-top: 5px;
    }
    .plan-table .pt-item .pti-cell .button {
        font-size: 8px;
        height: 20px;
        width: 44px;
        padding: 0;
        line-height: 19px;
    }
    .plan-table .pt-item.pt-item-main .pti-cell .button {
        font-size: 9px;
        padding-top: 1px;
        height: 24px;
        width: 52px;
    }

    .baners {
        margin-top: 40px;
    }
    .faq .panel-group {
        margin-top: 10px;
    }
    .faq .panel-default > .panel-heading {
        padding: 0;
    }
    .faq .panel-title {
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 5px;
    }
    .faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
        padding-right: 20px;
        padding-left: 20px;
    }

    .faq .panel-default>.panel-heading+.panel-collapse>.panel-body p {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .container.contact {
        margin-bottom: 30px;
    }
    .contact .container-header {
        margin-top: 20px;
    }
    .contact h3{
        font-size: 16px;
        margin-top: 2px;
    }
    .contact .pull-left {
        /*padding-top: 20px;*/
    }
    .contact .custom-button {
        height: 38px;
        padding: 2px 14px;
        font-size: 14px;
    }
    .contact .row:last-child {
        margin-top: 10px;
    }

    #footer {
        padding: 30px 0 15px !important;
    }
    #footer .logo-wrap img {
        width: 50px;
    }
    #footer .copyright,
    #footer .footer-nav {
        font-size: 12px;
        margin-top: 10px;
    }

    .panel {
        margin-bottom: 10px;
    }
    .panel.panel-custom .panel-heading {
        padding: 10px 15px 0px;
    }
    .panel.panel-custom .panel-title {
        font-size: 18px;
        padding-top: 5px;
    }
    .form-custom .form-control {
        width: 100%;
        font-size: 12px;
        height: 35px;
        padding: 10px;
    }
    .panel.panel-custom .panel-body {
        padding: 10px 20px 15px;
    }
    .form-custom label {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .form-custom .form-group {
        margin-bottom: 10px;
    }
    #wrap {
        min-height: 460px;
        padding: 10px 0 0;
    }
    #wrap #main {
        margin-top: 0;
    }
    .form-group.form-group-center {
        margin-bottom: 0;
        margin-top: 20px
    }
    .forgot-pass-container a {
        font-size: 12px;
    }
    .forgot-pass-container + .form-group-center {
        margin-top: 20px;
    }
    .form-custom .custom-button {
        font-size: 12px;
        height: 35px;
        width: 120px;
        padding: 0;
    }
    .sign-in-container,
    .sign-up-container {
        margin-top: 0;
        font-size: 12px;
    }
    .form-group.form-group-text p {
        margin: 10px 0 20px;
        font-size: 12px;
    }
    #details .row {
        height: 430px;
    }
    #feedback .carousel-inner {
        height: 700px;
    }
}

/* ----------- iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    #hero h1 {
        margin-top: 50px;
        font-size: 28px;
    }
    .main-label {
        font-size: 16px;
    }
    .main-form input {
        width: 100%;
        font-size: 16px;
        height: 40px;
    }
    #hero .container .button-info {
        margin-top: 20px;
    }
    #hero .custom-button {
        height: 50px;
        font-size: 18px;
        padding: 0px 27px 0;
        border-width: 0;
    }
    .pt-item-label .pti-cell {
        text-align: left;
        font-size: 12px;
        padding: 0px 3px;
    }
    .plan-table {
        width: 96%;
    }
    #feedback .carousel-indicators {
        top: 370px;
    }
    .container.feedback {
        height: 460px;
    }
}
