@font-face {
  font-family: 'SourceSansPro-Regular';
  src:  url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff'),
        url('../fonts/SourceSansPro-Regular.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Semibold';
  src:  url('../fonts/SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff'),
        url('../fonts/SourceSansPro-Semibold.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Semibold.svg#SourceSansPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src:  url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff'),
        url('../fonts/SourceSansPro-Bold.ttf')  format('truetype'),
        url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
    margin-top: 80px;
}
/* Set the fixed height of the footer here */
#push,
#footer {
    height: 115px;
}
#footer {
    background-color: #f5f5f5;
}

.navbar .navbar-inner {
    background: #F8F8F8;
}

.navbar-nav > li {
    margin-top: 25px;
    margin-bottom: 25px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover {
    color: #fff;
    background: #0269a3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.navbar-nav > li > a {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #777777 !important;
}

.navbar-login > li > a {
    font-family: 'SourceSansPro-Regular', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

.navbar-login > li > a strong,
.navbar-login > li > a span {
    font-family: 'SourceSansPro-Bold', sans-serif;
    font-weight: normal;
    font-style: normal;
}

.navbar-login > li > a {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-left: 10px;
}

.navbar-login > li > a span {
    background: #81af31;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 25px;
    margin-left: 15px;
}

.navbar-brand {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* Footer */
footer {
    background: #2d3139 !important;
    padding: 30px 0 20px !important;
    color: #6f747e !important;
    font-size: 14px !important;
    font-family: 'SourceSansPro-Regular', sans-serif !important;
    height: auto !important;
}

footer a {
    color: #6f747e;
}

footer a:hover {
    color: #e5e5e5;
}

footer .fa-circle {
    color: #585d67;
}

footer .fa-stack {
    font-size: 16px;
}

footer .footer-nav,
footer .social-nav {
    display: inline-block !important;
}

footer .social-nav {
    margin-left: 30px;
}

footer .pull-right {
    text-align: right;
}

footer .footer-nav span {
    font-size: 27px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 14px;
    position: relative;
    top: 2px;
}

footer .logo-wrap {
    position: relative;
    margin-bottom: -15px;
}

footer .logo-wrap:before {
    content: '';
    display: block;
    top: 49%;
    border-top: 1px solid #3b4049;
    position: absolute;
    width: 100%;
    z-index: 0;
}

footer .logo-wrap img {
    position: relative;
    z-index: 9;
}

/* From bootstrap 3 */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
/* END From bootstrap 3 */



/* LEGACY FROM BOOTSTRAP 2, because the breakpoint is at 980px and not 992px */
@media (min-width: 980px) and (max-width: 991px) {
    .navbar-login.visible-sm {
        display: none !important;
    }
    .navbar-login.hidden-sm {
        display: block !important;
    }
}

/* Bootstrap 2 breakpoint */
@media (max-width: 995px) {
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-nav > li {
        float: none;
        margin-top: 0;
        margin-bottom: 5px;
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 5px;
    }

    .navbar .btn-navbar {
        border-color: transparent !important;
        font-size: 20px;
        padding: 9px 15px;
        color: #fff;
        background: rgb(2, 105, 163);
        margin-top: 20px;
        margin-bottom: 12px;
    }

    .navbar .btn-navbar:focus,
    .navbar .btn-navbar:hover {
        background-color: rgb(63, 169, 245);
    }

    .navbar-brand > img {
        height: 40px;
    }
}

@media (max-width: 991px) {
    .navbar-login > li > a {
        border-left: none;
        margin-left: 0;
    }

    footer .logo-wrap {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
    }
    footer .logo-wrap {
        margin-bottom: 0;
    }

    footer .pull-right {
        float: none !important;
        text-align: center;
    }

    footer .copyright {
        text-align: center;
    }

    footer .footer-nav {
        margin-top: 10px;
    }

    footer .social-nav {
        display: block !important;
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 7px;
    }
}

/* Custom mobile */
@media (max-width: 400px) {
    .navbar-login > li span {
        margin-top: 10px !important;
        margin-left: 0px !important;
        display: inline-block !important;
    }
}

@media (min-width: 768px) {
    footer .pull-right {
        float: right;
    }
}

/* Desktop small screen */
@media (min-width: 980px) and (max-width: 1199px) {
    .navbar-brand {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .navbar-brand > img {
        height: 40px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-login > li > a {
        padding-left: 10px;
        margin-left: 0;
        padding-right: 0;
    }
}

/*======================================================================================================*/
/*======================================================================================================*/
/*======================================================================================================*/

.navbar-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}