
.sub-counter-container{
    margin: 0 auto;
    width: 350px;
}
.sub-counter-container .ends{
    color: #3e526a;
    text-align: center;
    margin-bottom: 10px;
}
.sub-counter-container .countdown-container {
    height: 100px;
}
.sub-counter-container .time {
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    display: inline-block;
    text-align: center;
    position: relative;
    height: 75px;
    width: 50px;
    font-family: 'Poppins';
    text-transform: uppercase;

    -webkit-perspective: 479px;
    -moz-perspective: 479px;
    -ms-perspective: 479px;
    -o-perspective: 479px;
    perspective: 479px;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.sub-counter-container .count {
    background: #202020;
    color: #f8f8f8;
    display: block;
    font-family: 'Poppins';
    letter-spacing: 1.2px;
    font-size: 2em;
    line-height: 2.1em;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
    width: 100%;

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    -ms-transform-style: flat;
    -o-transform-style: flat;
    transform-style: flat;
}
.sub-counter-container .count.top {
    border-top: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 5px 5px 0 0;
    height: 50%;

    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.sub-counter-container .count.bottom {
    background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -moz-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -ms-linear-gradient(rgba(255,255,255,0.1), transparent);
    background-image: -o-linear-gradient(rgba(255,255,255,0.1), transparent);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 0 0 5px 5px;
    line-height: 0;
    height: 50%;
    top: 50%;

    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.sub-counter-container .count.next {
}
.sub-counter-container .label {
    font-size: normal;
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
/* Animation start */
.sub-counter-container .count.curr.top {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    z-index: 3;
}
.sub-counter-container .count.next.bottom {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    z-index: 2;
}
/* Animation end */
.sub-counter-container .flip .count.curr.top {
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;

    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.sub-counter-container .flip .count.next.bottom {
    -webkit-transition: all 250ms ease-in-out 250ms;
    -moz-transition: all 250ms ease-in-out 250ms;
    -ms-transition: all 250ms ease-in-out 250ms;
    -o-transition: all 250ms ease-in-out 250ms;
    transition: all 250ms ease-in-out 250ms;

    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
    .sub-counter-container {
        width: 100%;
    }
    .sub-counter-container .countdown-container {
        height: 100px;
    }
    .sub-counter-container .time {
        height: 70px;
        width: 48px;
    }
    .sub-counter-container .count {
        font-size: 1.5em;
        line-height: 70px;
    }
    .sub-counter-container .label {
        font-size: 0.8em;
        top: 72px;
    }
}

.main-counter-container {
    /*padding: 2em 0 2em;*/
    font-size: 125%;
    color: #444;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-weight: 300;
    line-height: 1.4em;
}

.grab-btn {
    background-color:#fff;
    border:1px solid #3fa9f5;
    border-radius:30px;
    color:#3fa9f5;
    font-size:16px;
    font-weight:600;
    padding: 12px 25px;
    text-transform: capitalize;
    transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
    display: inline-block;
    margin: 0 auto;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family: Poppins;
}
.grab-btn:hover {
    color:#3fa9f5;
    opacity: 0.8;
}

.main-counter-container .grab-btn{
    padding: 7px 20px;
}
.main-counter-container .grab-btn-container{
    text-align: center;
    top: 15px;
    position: relative;
}
.centered-grab-btn{
    padding-top: 40px
}
.centered-grab-btn .grab-btn{
    color: #fff;
    font-size: 16px;
    font-size: 1.1em;
    padding: 18px 50px;
    background: #3fa9f5;
    border: 2px solid #3fa9f5;
}
.centered-grab-btn .grab-btn:hover{
    color: #3fa9f5;
    background: #fff;
}
.landing-pricing{
    background: #f9fcfe;
}
.landing-pricing h3.title{
    color: #3e526a;
    font-size: 35px;
    font-weight: normal;
    margin: 0 0 15px;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
}
.landing-pricing .sign_up_main{
    padding-top:100px;
    padding-bottom: 100px;
}
.landing-pricing .sub-counter-container {
    padding-bottom: 65px;
}
.landing-pricing .sub-counter-container .label{
    color: #3e526a
}
@media only screen and (max-width: 991px){
    .landing-pricing .sign_up_main{
        padding-top:0;
    }
}

@media screen and (max-width: 48em){
    .landing-pricing .sub-counter-container {
        width: 270px;
    }
}
.p-no{padding: 0}
.p-r-no{padding-right: 0}
.p-l-no{padding-left: 0}
.landing-pricing .get_btn1 {
    padding: 10px 15px;
}
.sign_up_main .form { background-color:#fff; border-radius:10px; box-shadow:0 0 5px #e0e0e0; padding:65px 50px 100px; }
.sign_up_main .form p { color:#627183; font-size:16px; margin:0 0 10px; text-align:left; }
.sign_up_main i { border-left:1px solid #c5d0df; color:#c5d0df; font-size:20px; line-height:27px; padding:14px 20px; position:absolute; right:65px; width:60px; }
.box_1 { border:1px solid #e8e9ed; box-shadow:none; color:#c5d0df; font-size:18px; height:55px; margin:0 0 35px; }
.sign_up_main .form-control:focus { border-color:#52b2f6; box-shadow:none; }
.sign_up_main .form-control::-moz-placeholder { color:#c5d0df; }
.create_btn { background-color:#52b2f6; border:1px solid #52b2f6; border-radius:30px; color:#fff; font-size:16px; font-weight:600; padding:15px 60px; text-transform:uppercase; transition:border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s; }
.create_btn:hover { background-color:transparent; color:#52b2f6; }
.sign_up_main  p { color:#90a2b7; font-size:18px; margin:38px 0 0; text-align:center; }
.sign_up_main  p a { color:#52b2f6; }
.sign_up_main  p a:hover { color:#90a2b7; }


/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 35px;
    width: 35px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 14px;
    top: 8px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.pricing_plan label{margin: 0}
.pricing_plan .last-li{padding-bottom: 30px;}

.checkbox-holder{
    width: 35px;
    margin: 0 auto;
}
.main h3{
    margin-bottom: 30px;
}
.counter-container{
    position: relative;
}
@media only screen and (min-width: 1200px) and (max-width: 1450px){

}

@media only screen and (max-width: 1199px){
    .home-banner {
        max-width: 100%;
        /*margin: auto;*/
    }
    .counter-container h1{
        font-size: 40px;
    }
    .counter-container h3{
        font-size: 18px;
    }
    .main-counter-container.index-page{
        width: 380px;
        margin: auto;
    }
}
@media only screen and (min-width: 1450px){
    .sign_up_main .form{
        padding-bottom: 85px
    }
}
@media only screen and (max-width: 1450px){
    .price_txt li span{
        display: block;
    }
    .form-big-button{
        padding: 320px 0;
    }
}


@media only screen and (max-width: 1030px){
    .counter-container{
        top: 0;
    }
    .counter-container h1{
        font-size: 35px
    }
    .counter-container h3{
        font-size: 15px;
    }
    .main-counter-container.index-page{
        width: 380px
    }
    .carousel-inner > .item > img.dd{
        /*height: 850px;*/
    }
}
.form-big-button{
    padding: 288px 0
}
@media only screen and (max-width: 1450px){
    .form-big-button{
        padding: 295px 0;
    }
}
@media only screen and (max-width: 1100px) and (min-width: 900px){
    .form-big-button input{
        padding: 15px 25px;
    }
}
/** 17-14-18**/
@media screen and (max-width:1024px){
    .carousel-inner > .item > img.dd{
        max-width: 130%;
    }
    .home-banner{
        padding-top: 50px;
    }
    .counter-container h1 {
         font-size: 30px;
    }
    .after-ltdf-span{
        font-size:18px;
    }
    .main h3{
     margin: 12px 0px;
    }
    .main-counter-container.index-page .label {
         color: #3e526a;
    }
}
@media only screen and (max-width: 991px){
    .form-big-button{
        padding: 20px 0;
    }
     /**13-04-18**/
    .landing-pricing h3.title{
        font-size: 22px; 
    }
     .main-counter-container.index-page {
        width: 100%;
        padding: 3px 0;
    }
    .main-counter-container.index-page .label {
        top: 80px;
    }
    .counter-container {
        top: 20px;
    }
    .counter-container h1 {
        font-size: 18px;
    }
    .after-ltdf-span {
        font-size: 14px;
    }
    .sub-counter-container .countdown-container {
          height: 90px;
    }
    .home-banner {
         padding-top: 0px;
    }
    .after-ltdf{
        margin:0px;
    }
    .counter-container {
         top: 0;
    }
    .carousel-inner > .item > img.dd {
        max-width: 140%;
    }
}

.price_2 li.monthly, .price_3 li.monthly{
    padding-left: 0;
    padding-right: 0
}
.price_2 li.monthly b, .price_3 li.monthly b{
    font-size: 12px;
}
.price_2 li:nth-child(3),.price_3 li:nth-child(3){
    margin: 0
}
@media only screen and (max-width: 768px){
    .price_txt li span{
        display: block
    }
    .pricing_plan .plan-holder {
        padding: 0 ;
        font-size: 10px !important;
    }
    .pricing_plan .col-xs-6 {
        padding-left: 0;
        padding-right: 0;
        font-size: 10px;
    }
    .price_txt, .price_2, .price_3{
        font-size: 12px;
    }
    .price_2 li:nth-child(3),.price_3 li:nth-child(3){
        padding-bottom: 13px;
    }
    .pricing_plan .plan-holder ul li:nth-child(1), .pricing_plan ul{
        border-radius: 0
    }
    .price_txt{
        padding-bottom: 62px;
    }
}
/**17-04-18**/
@media only screen and (max-width: 767px){
    .home-banner {
        padding-top: 0;
        padding-bottom:25px;
    }
    .main .carousel-caption {
        margin-top: 10px;
    }
}
@media screen and (max-width:480px){
    .centered-grab-btn {
        padding-top: 0px;
    }
    .centered-grab-btn .grab-btn{
         padding: 10px 25px;
    }
}



